{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if title %}
    <title>BakeToom - {{ title }}</title>
  {% else %}
    <title>BakeToom</title>
  {% endif %}

  <link rel="shortcut icon" href="{% static 'recipes/img/icons/baketoom_icon.svg' %}">
  <link name="main" rel="stylesheet" href="{% static 'recipes/css/main.css' %}">

  <link name="bootstrap" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link name="fontawesome" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- (world-flags-sprite) required stylesheets -->
  <link name="world-flags-sprite" rel="stylesheet" href="//github.com/downloads/lafeber/world-flags-sprite/flags32.css">
  <link name="bootstrap-select" rel="stylesheet" href="//unpkg.com/bootstrap-select@1.12.4/dist/css/bootstrap-select.min.css">
  <link name="bootstrap-select" rel="stylesheet" href="{% static 'recipes/css/bootstrap4_select_beta2.css' %}">
  <link name="bootstrap-select-country" rel="stylesheet" href="//unpkg.com/bootstrap-select-country@4.0.0/dist/css/bootstrap-select-country.min.css">

  <!-- External fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Qwigley&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">

  {% block head %}{% endblock %}

  {% if messages %}
    <script type="text/javascript">
      var hidden_alert_count = 0;
      var window_location = window.location.href;
    </script>
  {% endif %}

</head>
<body>

  <header class="site-header fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
      <!-- Logo -->
      <a title="Return to the main page" name="home-page" class="navbar-brand" href="{% url 'recipes-home' %}"><img height="35" src="{% static 'recipes/img/baketoom_logo.png' %}"/></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="outline: none; box-shadow: none">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Menu / Navigation options -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">
             <i class="align-icon-item fa fa-book"></i>
             <span name="about">About BakeToom</span>
            </a>
          </li>
          {% if messages %}
          <li class="nav-item">
            <a class="nav-link" href="#" onclick="$('.global-message-container > a').show(); $('.global-message-container').fadeIn(); hidden_alert_count=0">
              <i class="align-icon-item fa fa-exclamation-circle"></i>
              <span name="notifications">Notifications</span>
            </a>
          </li>
          {% endif %}
          <!-- Tools dropdown -->
          <li id="tools-dropdown" class="nav-item dropdown">
            <a name="recipe-manager" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="align-icon-item fa fa-edit"></i>
              <span name="tools">Recipe manager</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'contact-us-form' %}" name="report">Report</a>
              {% if user.is_authenticated %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'recipe-create' %}" name="create_recipe">Create recipe</a>
                <a class="dropdown-item disabled" href="#" name="edit_recipe">Edit recipe</a>
                <a class="dropdown-item disabled" href="#" name="delete_recipe">Delete recipe</a>
                <div class="dropdown-divider"></div>
              {% endif %}
              <a class="dropdown-item disabled" href="#" name="download">Download</a>
              <a class="dropdown-item disabled" href="#" name="print">Print</a>
            </div>
          </li>
        </ul>
        <!-- Login / Profile -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a title="Account" name="account" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% if user.is_authenticated %}
                <i class="align-icon-item fas fa-user-cog" style="font-size: 20px"></i>
                <span name="account" class="d-none">Account</span>
              {% else %}
                <i class="align-icon-item fas fa-sign-in-alt" style="font-size: 20px"></i>
                <span name="account" class="d-none">Account</span>
              {% endif %}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              {% if user.is_authenticated %}
                <a class="dropdown-item" href="{% url 'profile' %}" name="my-profile">My profile</a>
                <a class="dropdown-item" href="{% url 'logout' %}" name="logout">Logout</a>
              {% else %}
                <a class="dropdown-item" href="{% url 'login' %}" name="login">Login</a>
                <a class="dropdown-item" href="{% url 'register' %}" name="register">Register</a>
              {% endif %}
            </div>
          </li>
        </ul>
      </div>
      <!-- End of Menu / Navigation options -->
    </nav>
  </header>


  {% if messages %}
    <!-- Global messages -->
    {% for message in messages %}
      {% if message.tags == "error" %}
        <div class="f-mobile global-message-container alert alert-danger m-0 rounded-0">
      {% else %}
        <div class="f-mobile global-message-container alert alert-{{ message.tags }} m-0 rounded-0">
      {% endif %}
        {{ message }}
        <a style="cursor: pointer" onclick="$(this).hide(); $(this).parent().fadeOut(); hidden_alert_count++; window.location.href=window_location+'#hidden-alert-'+hidden_alert_count.toString()">
          <u>Okay, hide</u>
        </a> 
        </div>
    {% endfor %}
  {% endif %}


  <div id="cookieConsent" style="visibility: hidden; font-family: Calibri" class="alert text-center cookiealert f-mobile" role="alert">
    <b>Cookies?</b> &#x1F36A; We use cookies to ensure you get the best experience on our website. 
    <a href="https://gdpr.eu/cookies/" target="_blank">Find out more</a> and
    <button type="button" class="btn btn-warning btn-sm acceptcookies" aria-label="Close">agree to cookies</button>
  </div>


  <!-- Main content of the page -->
  <main>{% block content %}{% endblock %}</main>


  <script name="jQuery" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" crossorigin="anonymous"></script>
  <script name="fontawesome" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script name="fontawesome" src="https://use.fontawesome.com/f98f48837f.js"></script>
  <script name="bootstrap" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script name="bootstrap-select" src="//unpkg.com/bootstrap-select@1.12.4/dist/js/bootstrap-select.min.js"></script>
  <script name="bootstrap-select-country" src="//unpkg.com/bootstrap-select-country@4.0.0/dist/js/bootstrap-select-country.min.js"></script>
  <script name="main" src="{% static 'recipes/js/main.js' %}" crossorigin="anonymous"></script>
  {% block base %}{% endblock %}


</body>
</html>