{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'recipes/css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'recipes/css/home.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'recipes/css/recipe_detail.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'recipes/css/recipe_form.css' %}">

  {% if title %}
    <title>Django Przepisy - {{ title }}</title>
  {% else %}
    <title>Django Przepisy</title>
  {% endif %}

  {% if messages %}
    <script type="text/javascript">
      var hidden_alert_count = 0;
      var window_location = window.location.href
    </script>
  {% endif %}

</head>





<body>
  <header class="site-header fixed-top">
  	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

	<!-- Settings Logo / Menu toggle button -->
      <a class="navbar-brand" href="#">Moja Kuchnia</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>



        <!-- Menu / Navigation options -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'recipes-home' %}">Główna strona <span class="sr-only">(current)</span></a>
            </li>
            {% if messages %}
            <li class="nav-item">
              <a class="nav-link" href="#" onclick="$('.global-message-container > a').show(); $('.global-message-container').fadeIn(); hidden_alert_count=0">Powiadomienia <span class="sr-only">(current)</span></a>
            </li>
            {% endif %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              	Narzędzia
		      </a>
		      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		        <a class="dropdown-item disabled" href="#">Zreportuj</a>
                {% if user.is_authenticated %}
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'recipe-create' %}">Utwórz przepis</a>
                  <a class="dropdown-item disabled" href="#">Edytuj przepis</a>
                  <a class="dropdown-item disabled" href="#">Usuń przepis</a>
                  <div class="dropdown-divider"></div>
                {% endif %}
                <a class="dropdown-item disabled" href="#">Pobierz</a>
                <a class="dropdown-item disabled" href="#">Wydrukuj</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
          	<li class="nav-item">
          	  {% if user.is_authenticated %}
          	    <a class="nav-link" href="{% url 'profile' %}">Mój Profil <span class="sr-only">(current)</span></a>
          	  {% else %}
          	    <a class="nav-link" href="{% url 'login' %}">Zaloguj się <span class="sr-only">(current)</span></a>
          	  {% endif %}
          	</li>
          </ul>
        </div>
        <!-- End of Menu / Navigation options -->

    </nav>
  </header>

  <br/><br/>


  <!-- Banner -->
  <div id="base-banner" class="d-flex justify-content-center mt-4 text-center text-dark bg-light">
  	<h3 class="h3-mobile">PRZECHOWYWAJ I ZARZĄDZAJ<br/>SWE ULUBIONE PRZEPISY</h3>
  </div>




  {% if messages %}
    <!-- Global message box to inform the user -->
    {% for message in messages %}
      {% if message.tags == "error" %}
        <div class="global-message-container alert alert-danger">
      {% else %}
        <div class="global-message-container alert alert-{{ message.tags }}">
      {% endif %}
        {{ message }}
        <a style="cursor:pointer" onclick="$(this).hide(); $(this).parent().fadeOut(); hidden_alert_count++; window.location.href=window_location+'#hidden-alert-'+hidden_alert_count.toString()">
          <u>Okej, schowaj</u>
        </a> 
        </div>
    {% endfor %}
  {% endif %}





  <!-- Main content of the page -->
  {% block content %}{% endblock %}
  <!-- End of main content of the page -->




	
  <footer class="footer font-small bg-dark pt-4">
  	<section class="footer-copyright py-3" style="background-color: #282c30">
	  <!--Temporary template message -->
	  <ul class="mb-4 text-light text-center container">
	  	<span>
	  	  Najmilsze wspomnienia powstają, gdy zgromadzą się wszyscy przy stole
	  	</span>
	  </ul>
	  <!-- Copyright -->
	  <ul class="container list-inline text-center text-secondary">
	  	<li class="mb-2">
	  	  © 2020 Copyright
	  	</li>
	  	<li>
	  	  Strona udekorowana za pomocą
	  	  <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> MDBootstrap.com</a>
	  	</li>
	  	<li>
	  	  Ikony wykonane przez
	  	  <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> ze <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
	  	</li>
	  </ul>
	</section>
  </footer>



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>