{% extends "recipes/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'recipes/css/document-template.css' %}">
{% endblock %}
{% block content %}
  <div id="document-container" class="container my-5">
    <div id="document" class="bg-white border p-4">
      
      <h1 class="title text-uppercase text-center"><strong>Skontaktuj się z nami</strong></h1>

      <p>Jeśli skontaktujesz się z nami bezpośrednio, możemy otrzymać dodatkowe informacje o tobie, takie jak imię i nazwisko, adres e-mail, numer telefonu, treść wiadomości i / lub załączniki, które możesz nam wysłać, oraz wszelkie inne informacje, które możesz podać. <a href="{% url 'privacy-and-policy' %}">Naciśnij mnie</a>, aby dowiedzieć się więcej o tym, jak korzystamy z twoich danych.</p>
      <p>Możesz skontaktować się z nami bezpośrednio za pośrednictwem następującego e-maila - <b>{{ BAKETOOM_MAIL_USER }}</b>.<!-- Możesz również skorzystać z dostępnego formularza, który poprowadzi Cię i dostarczy nam Twoją wiadomość w najczystszej formie.--></p>

    </div>
  </div>
{% endblock content %}