{% extends "recipes/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'recipes/css/document_template.css' %}">
<style>
#div_id_email,
#div_id_subject {
  width: 49%;
  display: inline-block;
}
#div_id_subject {
  float: right;
}

textarea::-webkit-scrollbar-track-piece,
textarea ::-webkit-scrollbar-track-piece {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: #f8f9fa;
}

@media only screen and (max-width: 767px) {
  #div_id_email,
  #div_id_subject {
    float: none;
    width: 100%;
  }
}

@media only screen and (max-width: 575px) {
  label { font-size: 14px; }
}

@media only screen and (max-width: 370px) {
  label { font-size: 12px; }
  button[type="submit"] {
    font-size: 12px;
    width: 100%;
  }
}
</style>
{% endblock %}
{% block content %}
  <div id="document-container" class="container my-5">
    <div id="document" class="bg-white border p-4">
      
      <h1 class="title text-uppercase text-center mt-5"><strong>Contact and Support</strong></h1>
      <h5 class="sub-title text-center">Welcome to BakeToom!</h5>

      <p>If you contact us directly, we may receive additional information about you, such as your name, email address, telephone number, message content and/or attachments you may send us, and any other information you may provide. Check our <a href="{% url 'privacy-and-policy' %}">Privacy and Policy</a>, to learn more about how we manage your data.</p>
      <p>You can contact us directly via the following email - <b>support@baketoom.com</b><br>You can also use the available form to help you deliver your message safely to our support team:</p>

      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-outline-dark">Send form</button>
      </form>

    </div>
  </div>
{% endblock content %}