{% extends "recipes/base.html" %}
{% load static %}
{% block head %}

<link rel="stylesheet" href="{% static 'recipes/css/document_template.css' %}">
<!-- <meta name="description" content=""> -->
<meta name="keywords" content="BakeToom, credits">

{% endblock %}
{% block content %}
  <div id="document-container" class="container my-5">
    <ul id="menu" class="list-inline">
      <li class="list-inline-item p-1">
        <a id="print" href="#" class="text-dark" title="Print"><i class="fa fa-print"></i></a>
      </li>
      <li class="list-inline-item p-1">
        <a id="download" href="#" class="text-dark" title="Download"><i class="fa fa-download"></i></a>
      </li>
    </ul>
    <div id="document" class="bg-white border p-4">
   
      <h1 class="title text-uppercase text-center mt-5"><strong>Credits and Contributors</strong></h1>
      <h2 class="sub-title text-center fs-4">Welcome to BakeToom!</h2>
      <p class="text-center">BakeToom would not exist without some help. That is why we would like to show appreciation towards the creators who co-create our website.<br> If you have additional questions or require more information about our credits page, do not hesitate to <a href="{% url 'contact-us-form' %}">contact us</a>.</p>
      
      <h3 id="flaticon" class="title"><strong>Icons</strong></h3>
      <p><a href="https://flagpedia.net/download/vector" target="_blank">Flagpedia</a>, <a href="https://www.flaticon.com/" target="_blank">Flaticon</a>, <a href="https://fontawesome.com/" target="_blank">Fontawesome</a> and <a href="https://github.com/lafeber/world-flags-sprite" target="_blank">World-flags-sprite</a> creators have been an instrumental part of our website's success in terms of icon design, and we can't thank them enough for all that they have done, especially for allowing us to use their assets free of charge.</p>
      
      <section name="flaticon-attributes">
        <h4 class="fs-5 mb-3">Flaticon attributes:</h4>
        <h5 class="fs-6">Social media</h5>
        <ul>
          <li><a href="https://www.flaticon.com/free-icons/facebook" title="facebook icons">Facebook icons created by Freepik - Flaticon</a></li>
          <li><a href="https://www.flaticon.com/free-icons/reddit" title="reddit icons">Reddit icons created by Freepik - Flaticon</a></li>
          <li><a href="https://www.flaticon.com/free-icons/twitter" title="twitter icons">Twitter icons created by Freepik - Flaticon</a></li>
          <li><a href="https://www.flaticon.com/free-icons/mail" title="mail icons">Mail icons created by Freepik - Flaticon</a></li>
        </ul>
        <h5 class="fs-6">Profile menu</h5>
        <ul>
          <li><a href="https://www.flaticon.com/free-icons/book-cover" title="book cover icons">Book cover icons created by surang - Flaticon</a></li>
          <li><a href="https://www.flaticon.com/free-icons/pencil" title="pencil icons">Pencil icons created by Freepik - Flaticon</a></li>
          <li><a href="https://www.flaticon.com/free-icons/post-it" title="Post it icons">Post it icons created by Freepik - Flaticon</a></li>
        </ul>
        <h5 class="fs-6">About page</h5>
        <ul>
          <li><a href="https://www.flaticon.com/free-icons/book" title="book icons">Book icons created by Freepik - Flaticon</a></li>
          <li><a href="https://www.flaticon.com/free-icons/law" title="law icons">Law icons created by Freepik - Flaticon</a></li>
          <li><a href="https://www.flaticon.com/free-icons/email" title="email icons">Email icons created by Freepik - Flaticon</a></li>
          <li><a href="https://www.flaticon.com/free-icons/coffee-break" title="coffee break icons">Coffee break icons created by dreamicons - Flaticon</a></li>
        </ul>
        <h5 class="fs-6">Recipe</h5>
        <ul>
          <li><a href="https://www.flaticon.com/free-icons/contract" title="contract icons">Contract icons created by turkkub - Flaticon</a></li>
        </ul>
      </section>

    </div>
  </div>
{% endblock content %}
{% block base %}
<script name="print-and-download" src="{% static 'recipes/js/document-template.js' %}"></script>
{% endblock %}