{% extends "recipes/base.html" %}
{% load recipes_extras %}
{% block content %}
{% load static %}

	<!-- Search form -->
	<form class="form-inline my-4 d-flex justify-content-center">
	  <input class="form-control" type="search" placeholder="Czego dzisiaj pragniesz?" aria-label="Search" style="border-radius:0; width:70%">
	  <button class="btn btn-outline-secondary" type="submit" style="border-radius: 0">Wyszukaj</button>
	</form>




	<!-- Recipes -->
	<div id="recipes" class="mt-4 mb-5 pt-4 pb-4" style="background-image: url('{% static 'recipes/img/background_notepad.png' %}'); background-size: 15px 15px">
	  <center class="container recipe-container">
		{% if recipes %}
		  {% for recipe in recipes %}
			<div class="border m-1 btn-light p-2 recipe-container" onclick="$(this).fadeOut(500); setTimeout(function(){window.location='{% url 'recipe-detail' recipe.id %}'}, 500)" style="overflow: auto; border-radius: 5px">
		      <article>
			    <img class="float-right" width="150px" height="100px" style="border-radius: 5px 5px 5px 75px" src="{{ recipe.image.url }}">
			    <h3>{{ recipe.title }}</h3>
			    <p>{{ recipe.description }}</p>
			    <small>
			      autor: <a href="{% url 'user-recipes' recipe.author.username %}">{{ recipe.author }}</a>, 
			      id_przepisu: {{ recipe.id }}
			    </small>
		      </article>
	  	    </div>
		  {% endfor %}
		{% else %}
		  <div class="d-flex justify-content-center text-light p-5 text-center">
		    <h2>Sorry but no recipes are to be found</h2>
		  </div>
		{% endif %}
	  </center>
	</div>
	<!-- End of Recipes -->




	{% if is_paginated %}
	  <!-- Pagination -->
	  <center class="pagination justify-content-center">
	    <nav id="home-pagination" aria-label="Page navigation example">
	      <div>
	  	    <ul class="pagination pagination-circle pg-blue mb-0">
	  	  	  <!-- To first page -->
	          <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
	            <a class="page-link" style="border-right: 0" aria-label="First" href="{% if page_obj.has_previous %}?page=1{% else %}#{% endif %}">
	              Początek
	            </a>
	          </li>
	          <!-- Direct page choice -->
	          {% for num in page_obj.paginator.page_range %}
	            {% if page_obj.number == num %}
	              <li class="page-item active">
	          	    <a class="page-link page-link-active-fancy" href="?page={{ num }}">
	          	      {{ num }}
	          	    </a>
	              </li>
	            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
	              <li class="page-item">
	          	    <a class="page-link page-link-fancy" href="?page={{ num }}">
	          	      {{ num }}
	          	    </a>
	              </li>
	            {% endif %}
	          {% endfor %}
	          <!-- To last page -->
	          <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
	            <a class="page-link" style="border-left: 0" aria-label="Last" href="{% if page_obj.has_next %}?page={{ page_obj.paginator.num_pages }}{% else %}#{% endif %}">
	      	      Koniec
	            </a>
	          </li>
	        </ul>
	      </div>
	      <div name="page-flip">
	  	  	<!-- Previous page action -->
	        <a style="border-right: 0" class="{% if not page_obj.has_previous %}disabled{% endif %}" aria-label="Previous" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}">
	          <span aria-hidden="true">&laquo;</span>
	        </a>
	        <!-- Result counter -->
	        <a style="width: 60%; border-left: 0; border-right: 0; color: #6c757d; cursor: default">
	          <span id="search-result-counter">{{ page_obj.paginator.count }}</span>
			  rezultatów
	        </a>
	        <!-- Next page action -->
	        <a style="border-left: 0" class="{% if not page_obj.has_next %}disabled{% endif %}" aria-label="Next" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}">
	          <span aria-hidden="true">&raquo;</span>
	        </a>
	      </div>
	    </nav>
	  </center>
	  <!-- End of Pagination -->

	{% endif %}

{% endblock content %}