{% extends "recipes/base.html" %}
{% load recipes_extras %}
{% block content %}

	<!-- Search form -->
	<form class="form-inline my-4 d-flex justify-content-center">
	  <input class="form-control" type="search" placeholder="Czego dzisiaj pragniesz?" aria-label="Search" style="border-radius:0; width:70%">
	  <button class="btn btn-outline-secondary" type="submit" style="border-radius: 0">Wyszukaj</button>
	</form>




	<!-- Recipes -->
	<div id="recipes" class="mt-4 mb-5 pt-4 pb-4" style="background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2015%2F06%2F28%2F00%2F17%2Fpoland-823978_960_720.jpg&f=1&nofb=1');background-repeat: no-repeat, repeat;background-position: center; background-size: cover">
	  <center class="container">
		{% if recipes %}
		  {% for recipe in recipes %}
			<div class="border m-1 btn-light p-2 recipe-container" onclick="$(this).fadeOut(500); setTimeout(function(){window.location='{% url 'recipe-detail' recipe.id %}'}, 500)" style="overflow: auto; border-radius: 5px">
		      <article>
			    <img class="float-right" width="150px" height="100px" style="border-radius: 5px 5px 5px 75px" src="{{ recipe.image.url }}">
			    <h3>{{ recipe.title }}</h3>
			    <p>{{ recipe.description }}</p>
			    <small>
			      autor: {{ recipe.author }}, 
			      id_przepisu: {{ recipe.id }}
			    </small>
		      </article>
	  	    </div>
		  {% endfor %}
		{% else %}
		  <div class="d-flex justify-content-center text-light p-5 text-center">
		    <h2>Sorry but no recipes are to be found</h2>
		  </div>
		{% endif %}
	  </center>
	</div>
	<!-- End of Recipes -->





	{% if recipes %}
	<!-- Pagination -->
	<nav id="home-pagination" aria-label="Page navigation example">
	  <!-- Search result count -->
	  <center>
	  	<h5 class="mb-3">Wyszukano <span id="search-result-counter">{% total_recipes %}</span> resultatów</h5>
	  </center>
	  <ul class="pagination pagination-circle pg-blue justify-content-center pb-5">
	    <li class="page-item disabled"><a class="page-link">Początek</a></li>
	    <li class="page-item disabled">
	      <a class="page-link" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	        <span class="sr-only">Początek</span>
	      </a>
	    </li>
	    <li class="page-item active"><a class="page-link">1</a></li>
	    <li class="page-item"><a class="page-link">2</a></li>
	    <li class="page-item"><a class="page-link">3</a></li>
	    <li class="page-item"><a class="page-link">4</a></li>
	    <li class="page-item"><a class="page-link">5</a></li>
	    <li class="page-item">
	      <a class="page-link" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	        <span class="sr-only">Koniec</span>
	      </a>
	    </li>
	    <li class="page-item"><a class="page-link">Koniec</a></li>
	  </ul>
	</nav>
	<!-- End of Pagination -->
	{% endif %}


{% endblock content %}