{% extends "recipes/base.html" %}
{% load recipes_extras %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'recipes/css/extensions/search_bar.css' %}">
<link rel="stylesheet" href="{% static 'recipes/css/extensions/recipe_container.css' %}">
<link rel="stylesheet" href="{% static 'recipes/plugins/slide-in-scroll/slidein.css' %}">
<link rel="stylesheet" href="{% static 'recipes/css/flags16_both.css' %}" name="world-flags-sprite">
{% endblock %}
{% block content %}

  <form id="search-form" method="GET" action="{% url 'recipes-home' %}" class="container-lg my-4">
    {% include "recipes/extensions/search_bar.html" %}
  </form>

  {% include "recipes/extensions/recipe_container.html" %}

{% endblock content %}
{% block base %}
<script name="search-form" src="{% static 'recipes/js/filter_search_with_pagination.js' %}" crossorigin="anonymous"></script>
<script name="js-slidein" src="{% static 'recipes/plugins/slide-in-scroll/slideIn.min.js' %}"></script>
<script name="search-bar">
$(document).ready(function(){
  $("#previous-page-btn").attr("href", "javascript:if(window.location.href!=window.location.origin+'/'){history.back()}");
});
</script>
{% endblock %}