{% extends "recipes/base.html" %}
{% block content %}
  {% load static %}


  <div class="mt-4 mb-5 pt-4 pb-4" style="background-image: url('{% static 'recipes/img/background_notepad.png' %}'); background-size: 15px 15px">
    <center class="container recipe-container">

      <div name="terms-and-conditions" class="container border m-1 btn-light p-2 h-mobile" onclick="$(this).fadeOut(500); setTimeout(function(){window.location='{% url 'terms-and-conditions' %}'}, 500)" style="overflow: auto; border-radius: 5px">
        <article>
          <h3>Zasady i Warunki</h3>
          <p>Niniejszy regulamin określa zasady korzystania z witryny internetowej BakeToom, znajdującej się pod adresem baketoom.com. Uzyskując dostęp do tej witryny, przyjmujemy, że akceptujesz te warunki... (kliknij mnie, aby dowiedzieć się więcej)</p>
        </article>
      </div>

      <div name="privacy-and-policy" class="container border m-1 btn-light p-2 h-mobile" onclick="$(this).fadeOut(500); setTimeout(function(){window.location='{% url 'privacy-and-policy' %}'}, 500)" style="overflow: auto; border-radius: 5px">
        <article>
          <h3>Prywatność i Polityka</h3>
          <p>W BakeToom, dostępnym z baketoom.com, jednym z naszych głównych priorytetów jest prywatność naszych gości. Niniejszy dokument Polityki prywatności zawiera rodzaje informacji, które są gromadzone i rejestrowane przez BakeToom oraz sposób ich wykorzystania... (kliknij mnie, aby dowiedzieć się więcej)</p>
        </article>
      </div>

    </center>
  </div>


{% endblock content %}