{% extends "recipes/base.html" %}
{% block content %}

  <form>
  <!-- Background Image -->
  <div id="recipes" class="mt-4 mb-5 pt-4 pb-4" style="background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2015%2F06%2F28%2F00%2F17%2Fpoland-823978_960_720.jpg&f=1&nofb=1');background-repeat: no-repeat, repeat;background-position: center; background-size: cover;">

    <center>

  	<!-- Recipe -->
  	<div class="border m-1 bg-light p-2" style="overflow: auto; border-radius: 5px">
	  <h2>Przepis</h2>
	  <hr/>
  	  <!-- Title Input -->
	  <div class="form-group">
	    <label>Tytuł przepisu</label>
	    <input type="text" class="form-control">
	  </div>
	  <!-- Description Input -->
	  <div class="form-group">
	    <label>Krutka deskrypcja przepisu</label>
	    <textarea class="form-control" rows="3"></textarea>
	  </div>
	  <!-- Image Input -->
      <div class="form-group mt-3">
      	<label>Wprowadź Obraz</label><br/>
 		<label class="btn btn-outline-secondary file-upload" style="border-radius: 5px 0px 0px 5px">
 			<input type="file" name="file" accept="image/png, image/jpeg" onchange="document.getElementById('file-upload-data').value=this.value">
 		    Otwórz plik
 		</label>
 		<input id="file-upload-data" type="text" class="input-group-text" placeholder="Nie wybrano pliku" readonly />
      </div>
	</div>
	<!-- End of Recipe -->



	<!-- Ingredients -->
	<div id="ingredientsForm" class="border m-1 bg-light p-2 pb-4" style="overflow: auto; border-radius: 5px">
	  <h2>Składniki</h2>
	  <hr/>
  	  <!-- New Category -->
	  <button id="create-category-btn" type="button" class="btn btn-outline-primary" onclick="createCategoryInIngredientsForm(); updateCategoryButtonInIngredientsForm()">Utwórz kategorie</button>
	  <br/><br/>

  	  <!-- Category -->
  	  <div class="p-3 mb-2 rounded category">
  	  	  <!-- Category Title -->
		  <div class="form-group">
		    <label>Tytuł kategorii</label>
		    <input type="text" class="form-control">
		  </div>
		  <br/><br/>
		  <!-- Category Ingredients -->
		  <div class="form-group">
		    <label>Wprowadź listę składników do następującej kategorii</label>
		    <textarea class="form-control empty-scroll" rows="3"></textarea>
		  </div>
		  <button type="button" class="btn btn-outline-danger" onclick="category_count--; updateCategoryButtonInIngredientsForm(); $(this).closest('div').remove();">Usuń kategorie</button>
	  </div>
	  <!-- End of Category -->
	</div>
	<!-- End of Ingredients -->



	<!-- Method -->
	<div class="border m-1 bg-light p-2" style="overflow: auto; border-radius: 5px">
	  <h2>Metoda</h2>
	  <hr/>
  	  <!-- Instructions -->
	  <div class="form-group">
	    <label>Wprowadź instrukcję sukcesywnego wykonania produktu</label>
	    <textarea class="form-control empty-scroll" rows="3"></textarea>
	  </div>
	</div>
	<!-- End of Method -->


	</center>
  </div>
  <!-- End of Background Image -->




  <!-- Submittion -->
  <center>
    <section class="ml-5 mr-5">
	  <h2>Uwaga!</h2>
	  <p>Po przesłaniu przepisu jesteś w pełni świadomy <a href="#">prawa autorskiego</a>. Jeśli któreś z poniższych danych, które przesłałeś, narusza nasze <a href="#">warunki i usługi</a>, przepis zostanie usunięty z wiadomości publicznej i możesz ponieść konsekwencje. <a href="#">Kliknij mnie</a>, jeśli chcesz wiedzieć, jak się chronić przed nieuczciwymi oskarżeniami.</p>
    </section>
    <br/>
    <button id="new-recipe-submit-form" type="submit" class="btn btn-success btn-lg btn-block">Stwórz i upublikuj mój przepis</button>
  </center>
  <!-- End of Submittion -->


  </form>

  <br/><br/><br/>

{% endblock content %}