{% extends "recipes/base.html" %}
{% block content %}
  {% load static %}


  <div class="mt-4 mb-5 pt-4 pb-4" style="background-image: url('{% static 'recipes/img/background_notepad.png' %}'); background-size: 15px 15px">
    <center class="recipe-container pb-2">
      <div class="container m-1 h-mobile bg-light p-4 border" style="border-radius: 5px">
   
        <h2><strong>Polityka prywatności BakeToom</strong></h2>

        <p>W BakeToom, dostępnym z baketoom.com, jednym z naszych głównych priorytetów jest prywatność naszych gości. Niniejszy dokument Polityki prywatności zawiera rodzaje informacji, które są gromadzone i rejestrowane przez BakeToom oraz sposób ich wykorzystania.</p>
        <p>Jeśli masz dodatkowe pytania lub potrzebujesz więcej informacji na temat naszej Polityki prywatności, nie wahaj się z nami skontaktować.</p>
        <p>Niniejsza Polityka prywatności dotyczy wyłącznie naszych działań online i jest ważna dla odwiedzających naszą stronę internetową w odniesieniu do informacji, które udostępniali i / lub zbierali w BakeToom. Niniejsza polityka nie ma zastosowania do żadnych informacji zebranych offline lub za pośrednictwem kanałów innych niż ta strona internetowa.</p>

        <h3><strong>Zgoda</strong></h3>

        <p>Korzystając z naszej witryny, użytkownik wyraża zgodę na naszą Politykę prywatności i zgadza się z jej warunkami.</p>

        <h3><strong>Informacje, które zbieramy</strong></h3>

        <p>Dane osobowe, o które proszony jest użytkownik, oraz powody, dla których są one wymagane, zostaną wyjaśnione w momencie, w którym prosimy o podanie danych osobowych.</p>
        <p>Jeśli skontaktujesz się z nami bezpośrednio, możemy otrzymać dodatkowe informacje o tobie, takie jak imię i nazwisko, adres e-mail, numer telefonu, treść wiadomości i / lub załączniki, które możesz nam wysłać, oraz wszelkie inne informacje, które możesz podać.</p>
        <p>Podczas rejestracji konta możemy poprosić o podanie danych kontaktowych, w tym elementów takich jak nazwa użytkownika, imię i nazwisko oraz adres e-mail.</p>

        <h3><strong>Jak wykorzystujemy twoje informacje</strong></h3>

        <p>Używamy gromadzonych informacji na różne sposoby, w tym do:</p>
        <ul>
          <li>zapewniania, obsługi i utrzymania naszej strony internetowej</li>
          <li>ulepszania, personalizowania i rozszerzania naszej strony internetowej</li>
          <li>Zrozumienia i analizy, w jaki sposób korzystasz z naszej strony internetowej</li>
          <li>Opracowywania nowych produktów, usług, funkcji i funkcjonalności</li>
          <li>Komunikowania się z Tobą, bezpośrednio lub za pośrednictwem jednego z naszych partnerów, w tym do obsługi klienta, w celu dostarczania Ci aktualizacji i innych informacji związanych ze stroną internetową oraz w celach marketingowych i promocyjnych</li>
          <li>Wysyłania wiadomości e-mail</li>
          <li>Znajdowania oszustw i zapobiegania im</li>
        </ul>

        <h3><strong>Pliki dziennika</strong></h3>

        <p>BakeToom postępuje zgodnie ze standardową procedurą korzystania z plików dziennika. Te pliki rejestrują osoby odwiedzające strony internetowe. Wszystkie firmy hostingowe robią to i stanowią część analizy usług hostingowych. Informacje gromadzone przez pliki dziennika obejmują adresy protokołu internetowego (IP), typ przeglądarki, dostawcę usług internetowych (ISP), znacznik daty i godziny, strony odsyłające / wyjściowe i ewentualnie liczbę kliknięć. Nie są one powiązane z żadnymi informacjami umożliwiającymi identyfikację osoby. Informacje te służą do analizy trendów, administrowania witryną, śledzenia ruchu użytkowników w witrynie i gromadzenia informacji demograficznych. Nasza forma "prywatność i zasady" zostały utworzone przy pomocy <a target="_blank" href="https://www.privacypolicygenerator.info">Generator polityki prywatności</a> i <a target="_blank" href="https://www.privacypolicytemplate.net/">Szablon polityki prywatności</a>.</p>

        <h3><strong>Pliki cookie i sygnały nawigacyjne w sieci Web</strong></h3>

        <p>Jak każda inna strona internetowa, BakeToom używa „ciasteczek”. Te pliki cookie służą do przechowywania informacji, w tym preferencji odwiedzających, oraz stron w witrynie, do których odwiedzający odwiedził. Informacje te są wykorzystywane do optymalizacji doświadczenia użytkowników poprzez dostosowanie zawartości naszej strony internetowej w oparciu o typ przeglądarki użytkownika i / lub inne informacje.</p>
        <p>Aby uzyskać bardziej ogólne informacje na temat plików cookie, przeczytaj <a target="_blank" href="https://wszystkoociasteczkach.pl/polityka-cookies/">"Co to są pliki cookie"</a>.</p>

        <h3><strong>Polityka prywatności partnerów reklamowych</strong></h3>

        <p>Możesz zapoznać się z tą listą, aby znaleźć Politykę prywatności dla każdego partnera reklamowego BakeToom.</p>
        <p>Zewnętrzne serwery reklamowe lub sieci reklamowe wykorzystują technologie takie jak pliki cookie, JavaScript lub sygnały nawigacyjne w sieci Web, które są wykorzystywane w odpowiednich reklamach i linkach wyświetlanych w BakeToom, które są wysyłane bezpośrednio do przeglądarki użytkownika. Gdy tak się stanie, automatycznie otrzymają Twój adres IP. Technologie te są wykorzystywane do pomiaru skuteczności ich kampanii reklamowych i / lub do personalizacji treści reklamowych, które widzisz na odwiedzanych stronach internetowych.</p>
        <p>Należy pamiętać, że BakeToom nie ma dostępu ani kontroli nad tymi plikami cookie, które są używane przez zewnętrznych reklamodawców.</p>

        <h3><strong>Polityka prywatności zewnętrznych witryn</strong></h3>

        <p>Polityka prywatności BakeToom nie dotyczy innych reklamodawców ani stron internetowych. W związku z tym zalecamy zapoznanie się z odpowiednimi politykami prywatności tych zewnętrznych serwerów reklamowych w celu uzyskania bardziej szczegółowych informacji. Może to obejmować ich praktyki i instrukcje dotyczące rezygnacji z niektórych opcji.</p>
        <p>Możesz wyłączyć pliki cookie za pomocą indywidualnych opcji przeglądarki. Aby poznać bardziej szczegółowe informacje na temat zarządzania plikami cookie w określonych przeglądarkach internetowych, można je znaleźć na odpowiednich stronach internetowych przeglądarek. Co to są pliki cookie?</p>

        <h3><strong>Prawa CCPA do prywatności (Nie Sprzedawaj Moich Danych Osobowych)</strong></h3>

        <p>Zgodnie z CCPA, między innymi, konsumenci w Kalifornii mają prawo do:</p>
        <p>Żądania od firmy, która gromadzi dane osobowe konsumenta, ujawnienia kategorii i określonych danych osobowych, które firma zgromadziła na temat konsumentów.</p>
        <p>Żądania od firmy usunięcia wszelkich danych osobowych konsumenta, które firma zgromadziła.</p>
        <p>Żądania od firmy, która sprzedaje dane osobowe konsumenta, a nie sprzedaży danych osobowych konsumenta.</p>
        <p>Jeśli złożysz wniosek, mamy miesiąc na udzielenie odpowiedzi. Jeśli chcesz skorzystać z któregokolwiek z tych praw, skontaktuj się z nami.</p>

        <h3><strong>Prawa do ochrony danych RODO</strong></h3>

        <p>Chcemy upewnić się, że jesteś w pełni świadomy wszystkich swoich praw do ochrony danych. Każdy użytkownik ma prawo do:</p>
        <p>Prawo dostępu - masz prawo zażądać kopii swoich danych osobowych. Możemy naliczyć niewielką opłatę za tę usługę.</p>
        <p>Prawo do sprostowania - masz prawo zażądać od nas poprawienia wszelkich informacji, które uważasz za niedokładne. Masz również prawo do żądania uzupełnienia informacji, które uważasz za niekompletne.</p>
        <p>Prawo do usunięcia - masz prawo do żądania usunięcia twoich danych osobowych, pod pewnymi warunkami.</p>
        <p>Prawo do ograniczenia przetwarzania - masz prawo żądać ograniczenia przetwarzania twoich danych osobowych, pod pewnymi warunkami.</p>
        <p>Prawo do sprzeciwu wobec przetwarzania - masz prawo sprzeciwić się przetwarzaniu przez nas Twoich danych osobowych, pod pewnymi warunkami.</p>
        <p>Prawo do przenoszenia danych - masz prawo zażądać, abyśmy przekazali zgromadzone dane do innej organizacji lub bezpośrednio do Ciebie, pod pewnymi warunkami.</p>
        <p>Jeśli złożysz prośbę, mamy miesiąc na udzielenie odpowiedzi. Jeśli chcesz skorzystać z któregokolwiek z tych praw, skontaktuj się z nami.</p>

        <h3><strong>Informacje na temat dzieci</strong></h3>

        <p>Kolejną częścią naszego priorytetu jest ochrona dzieci podczas korzystania z Internetu. Zachęcamy rodziców i opiekunów do obserwowania, uczestniczenia i / lub monitorowania i prowadzenia ich działalności online.</p>
        <p>BakeToom nie zbiera świadomie żadnych danych osobowych od dzieci poniżej 13 roku życia. Jeśli uważasz, że Twoje dziecko dostarczyło tego rodzaju informacje na naszej stronie internetowej, zachęcamy do natychmiastowego skontaktowania się z nami i dołożymy wszelkich starań, aby niezwłocznie usunąć takie informacje z naszej dokumentacji.</p>

      </div>
    </center>
  </div>

{% endblock content %}