{% extends "recipes/base.html" %}
{% load recipes_extras %}
{% block content %}
  {% load static %}


  <!-- Background Image -->
  <div id="recipes" class="mt-4 mb-5 pt-4 pb-4" style="background-image: url('{% static 'recipes/img/background_notepad.png' %}'); background-size: 15px 15px">
    <center class="container recipe-container">


      <!-- Recipe container -->
    <div class="border m-1 btn-light p-2" style="background-color: #f8f9fa; overflow: auto; border-radius: 5px">
      <article>
        <img class="float-right" width="150px" height="100px" style="border-radius: 5px 5px 5px 75px" src="{{ object.image.url }}">
        <h3>{{ object.title }}</h3>
        <p>{{ object.description }}</p>
        <small class="f16">
          {% if object.nationality %}
            narodowość:
            <li class="flag {{ object.nationality|lower }}"></li>
          {% else %}
            narodowość: międzynarodowy
          {% endif %},
          
          {% if object.publisher %}
            wydawca: <a href="{% url 'user-recipes' object.publisher.username %}">{{ object.publisher }}</a> 
          {% else %}
            wydawca: null 
          {% endif %},

          {% if object.recipe_type %}
            typ: {{ object.recipe_type }}
          {% else %}
            typ: inne
          {% endif %},

          {% if not recipe.published %}
            <b>nie opublikowany</b> ,
          {% endif %}

          id_przepisu: {{ object.id }}
          {% if object.certified %}
            <img class="float-right" height="30" src="{% static 'recipes/img/icons/flaticon/contract.svg' %}" />
          {% endif %}
        </small>


        <hr/>

        <article name="recipe-history">
          <h5 class="mt-3">Historia</h5>
          <small>
            Przepis został umieszczony na BakeToom - 
            {{ recipe.date_created|date:"d-m-Y, " }}o 
            {{ recipe.date_created|date:"H:i" }}

            {% if recipe.date_posted_old %}
              i pierwszy raz został opublikowany - 
              {{ recipe.date_posted_old|date:"d-m-Y, " }}o 
              {{ recipe.date_posted_old|date:"H:i" }}.
            {% endif %}

            {% if recipe.date_edited and recipe.date_edited != recipe.date_created %}

              {% if recipe.date_posted and recipe.date_posted != recipe.date_created %}
                {% if recipe.date_posted == recipe.date_edited %}
                  <br/>Przepis edytowano i ponownie go opulikowano -
                  {{ recipe.date_posted|date:"d-m-Y, " }}o
                  {{ recipe.date_posted|date:"H:i" }}.
                {% else %}
                  <br/>Przepis ostatnio opublikowano -
                  {{ recipe.date_posted|date:"d-m-Y, " }}o
                  {{ recipe.date_posted|date:"H:i" }}, 
                  i ostatnio go edytowano - 
                  {{ recipe.date_edited|date:"d-m-Y, " }}o
                  {{ recipe.date_edited|date:"H:i" }}.
                {% endif %}

              {% else %}
                {% if not recipe.date_posted_old %}
                  i ostatnio go edytowano
                {% else %}
                  <br/>Przepis ostatnio edytowano - 
                {% endif %}
                {{ recipe.date_edited|date:"d-m-Y, " }}o
                {{ recipe.date_edited|date:"H:i" }}{% if recipe.date_posted and recipe.date_posted == recipe.date_created %}
                  i został on usunięty z wiadomości publicznej na czas nieokreślony.
                {% else %}.{% endif %}
              {% endif %}

            {% elif recipe.date_posted_old %}
              Od tamtego czasu, nigdy nie był edytowany. 
            {% else %}
              i od tamtego czasu, nigdy nie był edytowany. 
            {% endif %}
          </small>
        </article>
      </article>
    </div>


      <!-- Delete Form -->
      <form method="POST">
        {% csrf_token %}
        <div class="border m-1 btn-light p-2" style="background-color: #f8f9fa; overflow: auto; border-radius: 5px">
          <article>
            <h3>Uwaga, zamierzasz usunąć przepis!</h3>
            <hr/>
            Po naciśnięciu przycisku <b>"Usuń przepis"</b> zgadzasz się na to by wszystkie dane
            następującego przepisu zostały permanentnie wyczyszczone z naszej platformy.
            <u>Czy napewno chcesz usunąć ten oto przepis?</u>
          </article>
          <br/>
          <!-- Delete and Deny action -->
          <button class="btn btn-outline-danger" type="submit">
            Usuń przepis
          </button>
          <a class="btn btn-outline-info float-right" href="{% url 'recipe-detail' object.id %}">
            Przerwij akcję
          </a>
        </div>
      </form>


    </center>
  </div>
  <br/>
  <!-- End of Background Image -->


{% endblock content %}