{% load recipes_extras %}
{% load static %}
{% load tz %}
<html lang="pl">
<head>
<meta charset="utf-8">
<title>BakeToom - {{ recipe.title }}</title>
<style>
body { font-family: calibri; }
data-tag {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
}

#recipe, #method, #license {
  background-color: #fbfbfb;
  padding: 10px;
}
#recipe {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
#recipe > img:first-child {
  float:left;
  margin-right: 20px;
  height: 175px;
  width: 250px;
}
#ingredients > article {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}
#ingredients > article > section {
  background-color: #fbfbfb;
}
#license {
  font-family: monospace;
}
</style>
</head>
<body>
{% if recipe.published or recipe.publisher == request.user %}
  
  <data-tag>[UTC {% now "j F Y H:i" %}] - URL: {{ request.META.HTTP_HOST }}{% url 'recipe-detail' recipe.id %}</data-tag>

  <div id="recipe">
    <img src="data:image;base64,{{ recipe_image_base64 }}" alt="{{ recipe.image.name }}">
    <section>
      <h1 style="margin-top: 0px">{{ recipe.title|upper }}</h1>
      <p>{{ recipe.description }}</p>
      <p>
        Przepis został umieszczony na BakeToom - 
        {{ recipe.date_created|date:"d-m-Y, " }}o 
        {{ recipe.date_created|date:"H:i" }}

        {% if recipe.date_posted_old %}
          i pierwszy raz został opublikowany - 
          {{ recipe.date_posted_old|date:"d-m-Y, " }}o 
          {{ recipe.date_posted_old|date:"H:i" }}.
        {% endif %}

        {% if recipe.date_edited and recipe.date_edited != recipe.date_created %}

          {% if recipe.date_posted and recipe.date_posted != recipe.date_created %}
            {% if recipe.date_posted == recipe.date_edited %}
              Przepis edytowano i ponownie go opulikowano -
              {{ recipe.date_posted|date:"d-m-Y, " }}o
              {{ recipe.date_posted|date:"H:i" }}.
            {% else %}
              Przepis ostatnio opublikowano -
              {{ recipe.date_posted|date:"d-m-Y, " }}o
              {{ recipe.date_posted|date:"H:i" }}, 
              i ostatnio go edytowano - 
              {{ recipe.date_edited|date:"d-m-Y, " }}o
              {{ recipe.date_edited|date:"H:i" }}.
            {% endif %}

          {% else %}
            {% if not recipe.date_posted_old %}
              i ostatnio go edytowano
            {% else %}
              Przepis ostatnio edytowano - 
            {% endif %}
            {{ recipe.date_edited|date:"d-m-Y, " }}o
            {{ recipe.date_edited|date:"H:i" }}{% if recipe.date_posted and recipe.date_posted == recipe.date_created %}
              i został on usunięty z wiadomości publicznej na czas nieokreślony.
            {% else %}.{% endif %}
          {% endif %}

        {% elif recipe.date_posted_old %}
          Od tamtego czasu, nigdy nie był edytowany. 
        {% else %}
          i od tamtego czasu, nigdy nie był edytowany. 
        {% endif %}
      </p>
    </section>
  </div>  
  <section name="data" style="font-family: monospace; font-size: 13px; background-color: #fbfbfb; padding: 10px">
    <p>
      {% if recipe.nationality %}
        Narodowość: {{ recipe.nationality.name|title }}
      {% else %}
        Narodowość: Międzynarodowy
      {% endif %},

      {% if recipe.publisher %}
        Wydawca: {{ recipe.publisher }}
      {% else %}Wydawca: ...{% endif %},

      {% if recipe.recipe_type %}
        Typ: {{ recipe.recipe_type|title }}
      {% else %}Typ: inne{% endif %},

      ID: {{ recipe.id }}

      {% if recipe.certified %}
        , Atestowany
      {% endif %}

      {% if not recipe.published %}
        <b style="color: red">NIE OPUBLIKOWANY</b>
      {% endif %}
    </p>
  </section>
  <br>
  <div id="ingredients">
    <article>
      {% if categories %}
        {% for category in categories %}
          {% if category.recipe == object %}
            <section>
              <h2 style="font-weight: 300; margin-left: 10px">{{ category.name|upper }}</h2>
              <hr>
              {% if category.ingredients %}
                <ul class="ingredients">
                  {{ category.ingredients|endline_split|unordered_list }}
                </ul>
              {% else %}...{% endif %}
            </section>
          {% endif %}
        {% endfor %}
      {% else %}...{% endif %}
    </article>
  </div>
  <br>
  <div id="method">
    <h3>METODA</h3>
    <article id="recipe-method-list" style="word-wrap: break-word">
      {% if object.method %}
        {{ object.method|linenumbers|linebreaks }}
      {% else %}...{% endif %}
    </article> 
  </div>
  <br>
  <div id="license">
    <h3 style="font-family: calibri">LICENCJA</h3>
    <article>
      {% if object.license %}
        {{ object.license|linebreaks }}
      {% else %}...{% endif %}
    </article>
  </div>
{% else %}
  <div id="recipes">
    <center>
      <!-- No results msg -->
      <div style="background-color: #fbfbfb; padding: 10px">
        <h2>Przepis jest sprywatyzowany</h2>
      </div>
    </center>
  </div>
{% endif %}
<script>
function isEmpty(element) {
  if (!element
  || element===''
  || /^\s+$/g.test(element))
  { return true }
  return false
}

function RemoveEmptyIngredientListElements() { 
  var ing = document.getElementsByClassName('ingredients');

  for (var i=0; i<ing.length; i++) {
    var li = ing[i].children;
    for (var j=0; j<li.length; j++) {
      if (isEmpty(li[j].textContent)) {
          li[j].remove();
        }
    }
  }
}

function RemoveEmptyMethodListElements() {
  // Get list
  var new_method_list = []
  var method_data = document.getElementById('recipe-method-list').children[0].innerHTML;
  var method_list = method_data.split('<br>');

  for (var i=0; i<method_list.length; i++) {
    // Remove |linenumbers
    method_list[i]=method_list[i].replace(/^.+?\./g,'')

    if (!isEmpty(method_list[i])) {
      new_method_list.push(method_list[i])
    }
  }

  // Apply |linenumbers for each element from method_list
  var linenumbers = new_method_list.length.toString().replace(/\d/g,'0')
  for (var i=0; i<new_method_list.length; i++) {
    x = linenumbers
    x = x.slice((i+1).toString().length)
    new_method_list[i]= x + (i+1) + '.' + new_method_list[i]+'<br>'
  }

  document.getElementById('recipe-method-list').children[0].innerHTML=new_method_list.join("<br>");
}

window.onload = function() {
  RemoveEmptyIngredientListElements();
  RemoveEmptyMethodListElements();
}
</script>
</body>
</html>