{% extends "recipes/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'recipes/css/recipe_form.css' %}">
{% endblock %}
{% block content %}

  <form method="POST" enctype="multipart/form-data" class="mb-5">
    {% csrf_token %}
    <div class="container custom-scroll empty-h-scroll">

      <div id="recipe-form" class="recipe-form-container">
        <h2 class="title text-uppercase">Przepis</h2>
        <div class="form-group">
          {{ form.title|as_crispy_field }}
          {{ form.nationality|as_crispy_field }}
          {{ form.recipe_type|as_crispy_field }}
          {{ form.image|as_crispy_field }}
        </div>
        <div class="form-group">
          {{ form.description|as_crispy_field }}
        </div>
      </div>

      <div id="ingredients-form" class="recipe-form-container">
        <div>
          <h2 class="title text-uppercase">Składniki</h2>
          <button id="create-category-btn" type="button" class="btn btn-outline-dark" onclick="createEmptyCategoryObject()">Utwórz kategorie</button>
        </div>
        {{ categories.management_form|crispy }}
        {% for category in categories %}
          <div class="recipe-category">{{ category|crispy }}</div>
        {% endfor %}
      </div>

      <div class="recipe-form-container">
        <h2 class="title text-uppercase">Metoda</h2>
        <div class="form-group mt-4">
          {{ form.method|as_crispy_field }}
        </div>
      </div>

      <div class="recipe-form-container">
        <h2 class="title text-uppercase">Licencja</h2>
        <div class="form-group mt-4">
          {{ form.license|as_crispy_field }}
        </div>
      </div>

    </div>


    <!-- Submittion -->
    <center id="recipe-submit-form" class="container">
      <section class="ml-5 mr-5">
        <h2 class="warning-title text-uppercase">Proszę o uwagę!</h2>
        <p>
          Zanim udostępnisz
          
          {% if on_update_view %}
            ulepszoną wersję danego przepisu,
          {% else %}
            swój przepis,
          {% endif %}

          jesteś w pełni świadomy <a href="#">prawa autorskiego</a>. Jeśli któreś z powyższych danych które wprowadziłeś(ąś) narusza nasze <a href="#">warunki i usługi</a>, to przepis zostanie usunięty z wiadomości publicznej i możesz ponieść konsekwencje karne.
          <a href="#">Kliknij mnie </a>jeśli chcesz wiedzieć jak się chronić przed nieuczciwymi oskarżeniami.
        </p>
        {{ form.published|as_crispy_field }}
      </section>
      <br>
      {% if on_update_view %}
        <!-- Update and deny action -->
        <div class="btn-group recipe-form-buttons">
          <button type="submit" class="btn btn-warning btn-lg">Zaktualizuj dane</button>
          <button type="button" class="btn btn-info btn-lg" onclick="window.location.href='{% url 'recipe-detail' object.id %}'">Przerwij akcję</button>
        </div>
      {% else %}
        <div class="recipe-form-buttons">
          <input type="submit" class="btn btn-success btn-lg btn-block" value="Stwórz następujący przepis" />
        </div>
      {% endif %}
    </center>

  </form>

{% endblock content %}
{% block base %}
<script type="text/javascript">
var categories_max_num = {{ categories_max_num }};
var categories_name_label = '{{ categories_name_label }}';
var categories_ingredients_label = '{{ categories_ingredients_label }}';
var user_fullname = '{{ user.get_full_name }}';
var recipe_id = {% if on_update_view %}{{ object.id }}{% else %}false{% endif %}; 
</script>
<script src="{% static 'recipes/js/recipe_form.js' %}"></script>
{% endblock %}