{% extends "recipes/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  <!-- Background Image -->
  <div id="recipes" class="mt-4 mb-5 pt-4 pb-4" style="background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2015%2F06%2F28%2F00%2F17%2Fpoland-823978_960_720.jpg&f=1&nofb=1');background-repeat: no-repeat, repeat;background-position: center; background-size: cover;">


    <center class="container">



  	<!-- Recipe -->
  	<div class="border m-1 bg-light p-2" style="overflow: auto; border-radius: 5px">
	  <h2>Przepis</h2>
	  <hr/>
  	  <!-- Title Input -->
	  <div class="form-group">
	    {{ recipe_form.title|as_crispy_field }}
	  </div>
	  <!-- Description Input -->
	  <br/><br/>
	  <div class="form-group">
	    {{ recipe_form.description|as_crispy_field }}
	  </div>
	  <!-- Image Input -->
      <div class="form-group mt-3">
      	{{ recipe_form.image|as_crispy_field }}
      </div>
	</div>
	<!-- End of Recipe -->





	<!-- Ingredients -->
	<div id="ingredientsForm" class="border m-1 bg-light p-2 pb-4" style="overflow: auto; border-radius: 5px">
	  <h2>Składniki</h2>
	  <hr/>
  	  <!-- New Category -->
	  <button id="create-category-btn" type="button" class="btn btn-outline-primary" onclick="createCategoryInIngredientsForm(1); updateCategoryButtonInIngredientsForm()">
	    Utwórz kategorie
	  </button>
	  <br/><br/>
	</div>
	<!-- End of Ingredients -->





	<!-- Method -->
	<div class="border m-1 bg-light p-2" style="overflow: auto; border-radius: 5px">
	  <h2>Metoda</h2>
	  <hr/>
  	  <!-- Instructions -->
	  <div class="form-group">
	    {{ recipe_form.method|as_crispy_field }}
	  </div>
	</div>
	<!-- End of Method -->


	</center>
  </div>
  <!-- End of Background Image -->




  <!-- Submittion -->
  <center id="new-recipe-submit-form" class="container">
    <section class="ml-5 mr-5">
	  <h2>Uwaga!</h2>
	  <p>Po przesłaniu przepisu jesteś w pełni świadomy <a href="#">prawa autorskiego</a>. Jeśli któreś z poniższych danych, które przesłałeś, narusza nasze <a href="#">warunki i usługi</a>, przepis zostanie usunięty z wiadomości publicznej i możesz ponieść konsekwencje. <a href="#">Kliknij mnie</a>, jeśli chcesz wiedzieć, jak się chronić przed nieuczciwymi oskarżeniami.</p>
    </section>
    <br/>
    <input type="submit" class="btn btn-success btn-lg btn-block" value="Stwórz i upublikuj mój przepis" />
  </center>
  <!-- End of Submittion -->


</form>

<br/><br/><br/>


<script type="text/javascript">
var category_creation_count = {{ category_creation_count }}
var categories = {{ categories|safe }}
var ingredients = {{ ingredients|safe }}
</script>
<script src="{% static 'recipes/js/recipe_form.js' %}"></script>

{% endblock content %}