{% extends "recipes/base.html" %}
{% load recipes_extras %}
{% block content %}
{% load static %}

  <!-- Background Image -->
  <div id="recipes" class="mt-4 mb-5 pt-4 pb-4" style="background-image: url('{% static 'recipes/img/background_notepad.png' %}'); background-size: 15px 15px">
  	<center class="container recipe-container">



  	<!-- Recipe -->
  	<div class="border m-1 btn-light p-2" style="background-color: #f8f9fa; overflow: auto; border-radius: 5px">
	  <article>
		<img class="float-right" width="150px" height="100px" style="border-radius: 5px 5px 5px 75px" src="{{ object.image.url }}">
		{% if object.title %}
		  <h3>{{ object.title }}</h3>
		{% else %}
		  <!-- Title -->
		  <h3>Przepis</h3>
		{% endif %}

		{% if object.description %}
		  <p>{{ object.description }}</p>
		{% else %}
		  <p>...</p>
		{% endif %}

		<small>
		  {% if object.author %}
		    autor: <a href="{% url 'user-recipes' object.author.username %}">{{ object.author }}</a>, 
		  {% else %}
		  	autor: null, 
		  {% endif %}
		  id_przepisu: {{ object.id }}
		</small>
	  </article>
	</div>
	<!-- End of Recipe -->




	<!-- Ingredients -->
	<div class="border m-1 btn-light p-2" style="background-color: #f8f9fa; overflow: auto; border-radius: 5px">
	  <article class="recipe-ingredients custom-scroll empty-h-scroll">
		<h3>Składniki</h3>
		<hr/>
		  {% if categories %}
		    {% for category in categories %}
		      {% if category.recipe == object %}
		        <section>
		          <h5>{{ category.name }}</h5>
		          {% if category.ingredients %}
		            <ul class="ingredients">
		              {{ category.ingredients|endline_split|unordered_list }}
		            </ul>
		          {% else %}
		            <p>...</p>
		          {% endif %}
		        </section>
		      {% endif %}
		    {% endfor %}
		  {% else %}
		    <p>...</p>
		  {% endif %}
	  </article>
	</div>
	<!-- End of Ingredients -->





	<!-- Method -->
	<div class="border m-1 btn-light p-2 recipe-method" style="background-color: #f8f9fa; overflow: auto; border-radius: 5px">
	  <!-- Expand list -->
	  <span class="button-checkbox float-right">
	  	<input type="checkbox" onchange="updateMethodListBreaks(this)" class="d-none" />
       	<button type="button" class="btn btn-default" data-color="primary">
       	  Rozszerz Listę
        </button>
      </span>
	  <article id="recipe-method-list">
		<h3>Metoda</h3>
		<hr/>
		{% if object.method %}
		  {{ object.method|linenumbers|linebreaks }}
		{% else %}
		  ...
		{% endif %}
	  </article>
	</div>
	<!-- End of Method -->




    </center>
  </div>
  <!-- End of Background Image -->





  <!-- Share - Social Media -->
  <div class="text-center container mb-5">
  	<h3 class="h3-mobile mb-4">Udostępnij przepis znajomym</h3>
  	<ul class="list-inline social-media-icons">
      <li class="list-inline-item" name="facebook-icon">
      	<a href="#share">
      	  <img height="75" src="{% static 'recipes/img/icons/facebook.svg' %}" />
      	</a>
      </li>
      <li class="list-inline-item" name="instagram-icon">
    	<a href="#share">
    	  <img height="75" src="{% static 'recipes/img/icons/instagram.svg' %}" />
      	</a>
      </li>
      <li class="list-inline-item" name="twitter-icon">
    	<a href="#share">
    	  <img height="75" src="{% static 'recipes/img/icons/twitter.svg' %}" />
      	</a>
      </li>
      <li class="list-inline-item" name="google-plut-icon">
    	<a href="#share">
    	  <img height="75" src="{% static 'recipes/img/icons/google-plus.svg' %}" />
	  	</a>
	  </li>
	</ul>
  </div>
  <!-- End of Share - Social Media-->






<script type="text/javascript">
  var editing_tools = {% if authenticated_user == object.author %}true{% else %}false{% endif %}
</script>
<script src="{% static 'recipes/js/recipe_detail.js' %}"></script>

{% endblock content %}