{% extends "recipes/base.html" %}
{% load recipes_extras %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'recipes/css/extensions/search_bar.css' %}">
<link rel="stylesheet" href="{% static 'recipes/css/extensions/recipe_container.css' %}">
<link rel="stylesheet" href="{% static 'recipes/plugins/slide-in-scroll/slidein.css' %}">
<style>#search-filter-btn { display: none; }</style>
{% endblock %}
{% block content %}

  <!-- Publisher of recipes message -->
  <h5 class="mb-4 ml-1 mr-1 mt-4 text-center text-dark h4-mobile">
    {% if view.kwargs.username == user.username %}
      My Recipes
    {% else %}
      Recipes published by "{{ view.kwargs.username }}"
    {% endif %}
  </h5>

  <!-- Search form -->
  <form id="search-form" method="GET" action="{% url 'user-recipes' view.kwargs.username %}" class="container form-inline my-4 d-flex justify-content-center h-mobile">
    {% include "recipes/extensions/search_bar.html" %}
  </form>

  {% include "recipes/extensions/recipe_container.html" %}

{% endblock content %}
{% block base %}
<script name="search-form" src="{% static 'recipes/js/filter_search_with_pagination.js' %}" crossorigin="anonymous"></script>
<script name="js-slidein" src="{% static 'recipes/plugins/slide-in-scroll/slideIn.min.js' %}"></script>
<script name="search-bar">
$(document).ready(function() {
  $('#filter-container').remove();
  $('#search-filter-btn').remove();
  $("#previous-page-btn").attr("href", "javascript:if(window.location.href!=window.location.origin+'/user/{{ view.kwargs.username }}/'){history.back()}");
});
</script>
{% endblock %}