/* Pagination */
#home-pagination { padding-bottom: 25px }

/* First section of the pagination, buttons */
#home-pagination div a { border-radius: 0 }

/* Bottom section of the pagination, buttons */
#home-pagination div[name="page-flip"] a {
  border: 1px solid #dee2e6;
  background-color: #fff;
  text-decoration: none;
  padding: .5rem .75rem;
  text-align: center;
  cursor: pointer;
  border-top: 0;
  float: left;
  width: 20%
}

/* Pagination select page buttons */
#home-pagination div ul li a.page-link-fancy {
  border-left: 0;
  border-right: 0
}

/* Pagination select page buttons, hover */
#home-pagination div ul li a.page-link-fancy:hover {
  background-image: linear-gradient(to top, #E9ECEF, #fff)
}

/* Pagination selected/current page button */
#home-pagination div ul li a.page-link-active-fancy {
  border-left: 0; 
  border-right: 0;
  color: #007bff;
  background-color: #fff
}

/* Pagination FIRST (Początek btn) gradient hover */
#home-pagination div ul li a[aria-label="First"]:hover {
  background-image: linear-gradient(to right, #E9ECEF, #fff)
}

/* Pagination LAST (Koniec btn) gradient hover */
#home-pagination div ul li a[aria-label="Last"]:hover {
  background-image: linear-gradient(to right, #fff, #E9ECEF)
}

/* Pagination Previous (<< btn) gradient hover */
#home-pagination div[name="page-flip"] a[aria-label="Previous"]:hover {
  background-image: linear-gradient(to right, #E9ECEF, #fff)
}

/* Pagination Next (>> btn) gradient hover */
#home-pagination div[name="page-flip"] a[aria-label="Next"]:hover {
  background-image: linear-gradient(to right, #fff, #E9ECEF)
}


/* Search filter Nationality */
.bootstrap-select.countrypicker button.btn.dropdown-toggle {
  margin-top: -10px;
  padding: 0
}


msg { display: inline; }

/* If user on mobile display */
@media only screen and (max-width: 600px) {
  #home-pagination { font-size: 12px }
}
@media only screen and (max-width: 991px) {
  #recipes { font-size: 12px; }
  #recipes .recipe-detail { width: 75%; }
  #recipes .recipe-image { width: 20%; }
}
@media only screen and (max-width: 767px) {
  msg.w-off-767 { display: none; }
  #recipes { font-size: 12px; }
  #recipes .recipe-detail { width: 100%; }
  #recipes .recipe-image { width: auto; }
  #recipes .recipe-image img { display: inline; margin-right: 20px; }
  #recipes .recipe-data > li { display: list-item; }
}
@media only screen and (max-width: 450px) {
  #recipes .recipe-image { width: 100%; }
  #recipes .recipe-image img { width: 100%; height: 200px; object-fit: cover; }
}