html {
  scroll-behavior: smooth;
  position: relative;
  min-height: 100%
}

body { margin-bottom: 240px }

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0
}

/* Global Messages */
.alert-danger a { color: #721c24 }
.alert-success a { color: #155724 }







/**//* ---------- *//**/
/**//* Scrollbars *//**/
/**//* ---------- *//**/

::-webkit-scrollbar { width: 5px; height: 15px }
::-webkit-scrollbar-track-piece  { background-color: #353535}
::-webkit-scrollbar-thumb:vertical { height: 30px; background-color: Darkgray} 

/* Hide horizontal scrollbar */
.empty-h-scroll::-webkit-scrollbar:horizontal { width: 0px; height: 0px }
.empty-h-scroll ::-webkit-scrollbar:horizontal { width: 0px; height: 0px }

/* Hide vertical scrollbar */
.empty-v-scroll::-webkit-scrollbar:vertical { width: 0px; height: 0px }
.empty-v-scroll ::-webkit-scrollbar:vartical { width: 0px; height: 0px }

/* Unique scrollbar for website content */
.custom-scroll::-webkit-scrollbar-track-piece {
  background-color: #f8f9fa;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2)
}
.custom-scroll ::-webkit-scrollbar-track-piece {
  background-color: #f8f9fa;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2)
}
.custom-scroll::-webkit-scrollbar-thumb:vertical {
  height: 1px;
  background-color: gray
}
.custom-scroll ::-webkit-scrollbar-thumb:vertical {
  height: 1px;
  background-color: gray
}
.custom-scroll::-webkit-scrollbar-corner:vertical { background-color: red }
.custom-scroll ::-webkit-scrollbar-corner:vertical { background-color: red }

/**//* ----------------- *//**/
/**//* END of Scrollbars *//**/
/**//* ----------------- *//**/







/**//* ----------------- *//**/
/**//* Recipe Containers *//**/
/**//* ----------------- *//**/

/* Main container (usually center tag) */
#recipes div, div.container {
  width: 95%;
  text-align: left
}

#recipes center.container div div.form-group {
  margin-left: 5px
}

.recipe-container > div {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 5px !important
}
.recipe-container > form > div {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 5px !important
}

/**//* ------------------------ *//**/
/**//* END of Recipe Containers *//**/
/**//* ------------------------ *//**/









/**//* -------------- *//**/
/**//* User on Mobile *//**/
/**//* ---------------*//**/

@media only screen and (max-width: 600px) {

  .h-mobile h2 { font-size: 25px }
  .h-mobile h3 { font-size: 20px }
  .h-mobile h4 { font-size: 14px }

  h2.h-mobile { font-size: 25px !important }
  h3.h-mobile { font-size: 20px !important }
  h4.h-mobile { font-size: 14px !important }

  h2.h2-mobile,
  h3.h2-mobile,
  h4.h2-mobile,
  h5.h2-mobile { font-size: 25px !important }

  h2.h3-mobile,
  h3.h3-mobile,
  h4.h3-mobile,
  h5.h3-mobile { font-size: 20px !important }

  h2.h4-mobile,
  h3.h4-mobile,
  h4.h4-mobile,
  h5.h4-mobile { font-size: 14px !important }
  



  .footer-copyright ul li { font-size: 12px }





  .recipe-container { font-size: 12px }
  .recipe-container h3 { font-size: 20px }
  .recipe-button img {
    border-radius: 5px 5px 5px 50px !important;
    width: 100px;
    height: 75px
  }




  /* USER APP */
  img.account-img {
    width: 100%;
    border-left: 30px solid #dee2e6;
    border-right: 30px solid #dee2e6;
    margin-bottom: 5px;
    height: 200px;
    object-fit: cover
  }
  #recipes div, div.container { width: auto }
  #recipes center.container div div.form-group {
    margin-left: 0
  }
  #additional-info-users-templates small { 
    float: left !important;
    display: inline;
    clear: both;
    word-break: break-all
  }
  #profile-details {
    width: 100%;
    word-wrap: break-word
  }
  #profile-details-sub-container { 
    float: left !important;
    text-align: left !important;
    width: 100%;
    padding: 2px
  }
  /* END of USER APP */
}
/**//* --------------------- *//**/
/**//* END of User on Mobile *//**/
/**//* --------------------- *//**/