/**//* --------------- *//**/
/**//* Checkbox Bullet *//**/
/**//* --------------- *//**/

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 6px;
  left: -20px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #e5e5e5
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none
}

/* The container */
.checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}
/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0
}
/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3
}
/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block
}
/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 4px;
  top: 2px;
  width: 2px;
  height: 5px;
  border: solid white;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/**//* ---------------------- *//**/
/**//* END of Checkbox Bullet *//**/
/**//* ---------------------- *//**/





/**//* ---------------- *//**/
/**//* Recipe Container *//**/
/**//* ---------------- *//**/


#recipe-detail-content {
  border-radius: 3px;
}

#recipe-detail-navbar {
  background-color: #d1d5da;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
}
#recipe-detail-navbar button {
  border-radius: 0;
  background: #fff;
}
#recipe-detail-navbar button:hover {
  border-color: #f4f4f4;
  background: #f4f4f4;
}
#recipe-detail-navbar i {
  margin-right: 10px;
}

#recipe { overflow: auto }
#recipe > article > div.wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  font-family: calibri;
  font-size: 14px;
  grid-gap: 15px;
}

#method > article {
  font-family: calibri;
}

#ingredients > article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
#ingredients > article > section {
  padding: 10px;
  border-radius: 3px;
}
#ingredients > article > section::-webkit-scrollbar-thumb:vertical,
#ingredients > article > section ::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: #d1d1d1;
}
#ingredients > article > section::-webkit-scrollbar-track-piece,
#ingredients > article > section ::-webkit-scrollbar-track-piece {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.05);
}
#ingredients > article > section > ul {
  padding-inline-start: 20px;
  list-style-type: none;
}
#ingredients > article > section .title {
  font-weight: 300;
  line-height: 1.2;
}

#license > article {
  font-family: monospace;
}



@media only screen and (max-width: 991px) {
  #recipe > article > div.wrapper {
    grid-template-columns: 3fr 1.5fr;
    font-size: 12px;
  }
  #ingredients > article {
    grid-template-columns: repeat(2, 1fr);
  }
  #method > article, #license > article {
    font-size: 16px;
  }
}

@media only screen and (max-width: 767px) {
  #recipe > article > div.wrapper {
    display: block;
  }
  #recipe > article > div.wrapper img {
    margin-top: 20px;
    height: 150px;
    width: 200px;
    float: right;
  }
  #recipe > article > div.wrapper section[name="description"] {
    width: 100%;
  }
  #recipe > article > section[name="data"] {
    float: left;
    font-size: 12px;
  }
  #recipe > article > section[name="data"] > ul > li {
    display: block;
  }
  #method > article, #license > article {
    font-size: 14px;
  }
  .off-w767 {
    display: none;
  }
}

@media only screen and (max-width: 575px) {
  #ingredients > article {
    grid-template-columns: 1fr;
  }
  #recipe-detail-navbar {
    border-radius: 0 !important;
    grid-template: 1fr 1fr / 1fr 1fr;
  }
  #recipe-detail-navbar button {
    border-radius: 0 !important;
  }
}

@media only screen and (max-width: 483px) {
  #recipe-detail-navbar button {
    font-size: 12px;
  }
  #recipe > article > div.wrapper img {
    width: 100%;
    height: 250px;
    float: auto;
    margin-bottom: 20px;
  }
  #method > article, #license > article {
    font-size: 12px;
  }
}

@media only screen and (max-width: 400px) {
  #recipe > article > div.wrapper img {
    height: 200px;
  }
  #recipe, #ingredients, #method, #license {
    padding: 30px 10px 30px 10px !important;
  }
}

@media only screen and (max-width: 338px) {
  #recipe > article > div.wrapper img {
    height: 150px;
  }
}

@media only screen and (max-width: 260px) {
  #recipe-detail-navbar {
    grid-template: 1fr / 1fr;
  }
}


/**//* ----------------------- *//**/
/**//* END of Recipe Container *//**/
/**//* ----------------------- *//**/ 


/* Social Media Icons */
.social-media-icons li a img:hover {
	opacity: 0.9;
	border: 2px solid white;
	border-radius: 50%;
}



@media only screen and (max-width: 800px) {

	.social-media-icons li a img { height: 50px }

	/* Recipe Categories ingredients list */
	.checkbox-container {
		font-size: 12px;
	}
	.checkmark {
		top: 4px;
		left: -19px;
	}
	/* END of Recipe Categories ingredients list */
}