/* Recipe category form container */
.recipe-category {
  background-color: #e8e8e8;
  width: 30% !important;
  margin-left: 20px;
  margin: 10px;
  float: left
}

/* Recipe category -> ingredients form (textarea) */
.recipe-category div textarea[name="ingredients"] {
  min-height: 150px
}

/* Submit form button at the bottom */
#new-recipe-submit-form input[type="submit"] {
  width: 500px
}

/* Submit form buttons ("Zaktualizuj dane", "Przerwij akcję") at the bottom */
#new-recipe-submit-form div.btn-group button {
  width: 300px
}






/**//* ----------- *//**/
/**//* Django form *//**/
/**//* ----------- *//**/

/* Following forms width is adjusted to
   auto to fill their parent container */

#div_id_title,
#div_id_title div,

#div_id_description,
#div_id_description div,

#div_id_image,
#div_id_image div,

#div_id_recipe_type,
#div_id_recipe_type div,

#div_id_method,
#div_id_method div,

#div_id_license,
#div_id_license div,

#div_id_nationality,
#div_id_nationality div,

#div_id_published,
#div_id_published div { 
  width: auto !important
}

/**//* ------------------ *//**/
/**//* END of Django form *//**/
/**//* ------------------ *//**/







/* Center categories */
@media only screen and (max-width: 1200px) {
  /* Recipe category form container */
  .recipe-category {
    margin-left: 16px
  }
}
@media only screen and (max-width: 1000px) {
  /* Recipe categories container */
  .recipe-category {
    width: auto !important;
    margin-left: 10px;
    float: none
  }
}






/* If user on mobile display */
@media only screen and (max-width: 800px) {

  .recipe-container {
    padding-left: 1% !important;
    padding-right: 1% !important
  }

  /* Recipe category -> ingredients form (textarea) */
  .recipe-category div textarea[name="ingredients"] {
    min-height: 250px
  }

  /* Submit form warning message ("Uwaga!") */
  #new-recipe-submit-form section {
    margin-right: 5% !important;
    margin-left: 5% !important;
    font-size: 12px
  }

  /* Submit form button at the bottom */
  #new-recipe-submit-form input[type="submit"] {
    width: 80%;
    font-size: 15px
  }

  /* Submit form buttons ("Zaktualizuj dane", "Przerwij akcję") at the bottom */
  #new-recipe-submit-form div.btn-group button { 
    font-size: 16px;
    width: auto
  }
}