/* Recipe category form container */
.recipe-category {
  width: 30% !important;
  background-color: #e8e8e8;
  margin: 10px;
  margin-left: 20px;
  float: left
}

/* Recipe category -> ingredients form (textarea) */
.recipe-category div textarea[name="ingredients"] {
  min-height: 150px
}

/* Submit form button at the bottom */
#new-recipe-submit-form input {
  width: 500px
}

/* Submit form buttons ("Zaktualizuj dane", "Przerwij akcję") at the bottom */
#new-recipe-submit-form div.btn-group button {
  width: 300px
}






/**//* ----------- *//**/
/**//* Django form *//**/
/**//* ----------- *//**/

/* Following forms width is adjusted to
   auto to fill their parent container */

#div_id_title { width: auto !important }
#div_id_title div { width: auto !important }

#div_id_description { width: auto !important }
#div_id_description div { width: auto !important }

#div_id_image { width: auto !important }
#div_id_image div { width: auto !important }

#div_id_recipe_type { width: auto !important }
#div_id_recipe_type div { width: auto !important }

#div_id_method { width: auto !important }
#div_id_method div { width: auto !important }

#div_id_license { width: auto !important }
#div_id_license div { width: auto !important }

#div_id_nationality { width: auto !important }
#div_id_nationality div { width: auto !important }

/**//* ------------------ *//**/
/**//* END of Django form *//**/
/**//* ------------------ *//**/







/* Center categories */
@media only screen and (max-width: 1200px) {
  /* Recipe category form container */
  .recipe-category {
    margin-left: 16px
  }
}
@media only screen and (max-width: 1000px) {
  /* Recipe categories container */
  .recipe-category {
  	float: none;
	  width: auto !important;
    margin-left: 10px
  }
}






/* If user on mobile display */
@media only screen and (max-width: 800px) {

  /* Recipe category -> ingredients form (textarea) */
  .recipe-category div textarea[name="ingredients"] {
    min-height: 250px
  }

  /* Submit form warning message ("Uwaga!") */
  #new-recipe-submit-form section {
    font-size: 12px
  }

  /* Submit form button at the bottom */
  #new-recipe-submit-form input {
    width: 80%;
    font-size: 15px
  }

  /* Submit form buttons ("Zaktualizuj dane", "Przerwij akcję") at the bottom */
  #new-recipe-submit-form div.btn-group button { 
    font-size: 16px;
    width: auto
  }
}