.users-global-form {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
  border: 1px solid #ced4da;
  background-color: #fff;
  border-radius: 3px;
  overflow: auto;
}
.users-global-form .title {
  font-weight: 300;
}




@media only screen and (max-width: 991px) {
  .users-global-form-container {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .users-global-form-container p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 575px) {
  .users-global-form-container {
    font-size: 14px;
    padding: 20px;
  }
  .users-global-form-container .title {
    font-size: 24px;
  }
  .users-global-form-container p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 370px) {
  .users-global-form-container {
    font-size: 12px;
    padding: 20px;
  }
  .users-global-form-container p {
    font-size: 12px;
  }
}