{% extends "recipes/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'recipes/css/app_users_simple_form.css' %}">
<style>
label[for="id_username"],
label[for="id_password"] { display: none; }
</style>
{% endblock %}
{% block content %}
  <form method="POST" enctype="multipart/form-data" class="mb-5">
    {% csrf_token %}
    <div class="container">
      <div class="simple-form simple-form-split">

        <div>
          <h2 name="login" class="title text-uppercase mb-4">Login</h2>
          {{ form|crispy }}
          <small>Forgot your password? <a href="{% url 'password_reset' %}">Change it now</a>.</small>
          <div id="submission" class="mt-4">
            <button class="btn btn-outline-success w-100" type="submit">Login</button>
          </div>
        </div>
        <div class="simple-form-split-right">
          <h2 name="welcome-to-baketoom" class="title text-uppercase mb-4">Welcome to BakeToom</h2>
          <p>Discover recipes from around the world!</p>
          <p style="font-family: calibri">BakeToom is a great place for culinary fans, where everyone has a chance to get the recognition they deserve. After a short registration, you will be able to publish your recipes on our platform and expand your relations on an international scale to further develop your creations.</p>
          <p style="font-family: calibri">Check the <a href="{% url 'terms-and-conditions' %}" target="_blank">Terms & Conditions</a> and join our gourmet world - <a href="{% url 'register' %}">register now</a>.</p>
          <p><br><b>The registration page is private for now</b></p>
        </div>

      </div>
    </div>
  </form>
{% endblock content %}
{% block base %}
<script>
$(function(){
  $('#id_username').attr('placeholder', 'Username');
  $('#id_password').attr('placeholder', 'Password');
})
</script>
{% endblock %}