{% extends "recipes/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'recipes/css/app_users_simple_form.css' %}">
<style>
label[for="id_username"],
label[for="id_password"] { display: none; }
</style>
{% endblock %}
{% block content %}
  <form method="POST" enctype="multipart/form-data" class="mb-5">
    {% csrf_token %}
    <div class="container">
      <div class="simple-form simple-form-split">

        <div>
          <h2 name="login" class="title text-uppercase mb-4">Zaloguj się</h2>
          {{ form|crispy }}
          <small>Nie pamiętasz hasła? <a href="{% url 'password_reset' %}">Zmień teraz</a></small>
          <div id="submission" class="mt-4">
            <button class="btn btn-outline-success w-100" type="submit">Zaloguj się</button>
          </div>
        </div>
        <div class="simple-form-split-right">
          <h2 name="welcome-at-baketoom" class="title text-uppercase mb-4">Witaj w BakeToom</h2>
          <p>Odkryj przepisy z całego świata!</p>
          <p style="font-family: calibri">BakeToom to świetne miejsce dla fanów kulinarnych, gdzie każdy ma szansę zdobyć uznanie, na które zasługuje. Po krótkiej rejestracji będziesz mógł(a) opublikować swoje przepisy na naszej platformie i rozszerzać swoje relacje na skalę międzynarodową abyś dalej rozwijał(a) swoje dzieła.</p>
          <p style="font-family: calibri">Zapoznaj się z naszymi <a href="{% url 'terms-and-conditions' %}" target="_blank">Zasadami i Warunkami</a> i dołącz do naszego świata smakoszy - <a href="{% url 'register' %}">Zarejestruj się</a>.</p>
          <p><br><b>Strona rejestracyjna jest na razie prywatna</b></p>
        </div>

      </div>
    </div>
  </form>
{% endblock content %}
{% block base %}
<script>
$(function(){
  $('#id_username').attr('placeholder', 'Nazwa urzytkownika');
  $('#id_password').attr('placeholder', 'Hasło');
})
</script>
{% endblock %}