{% extends "recipes/base.html" %}
{% block content %}
<br/>
<center>
  <!-- Container -->
  <div class="border m-1 bg-light p-2 container" style="overflow: auto; border-radius: 5px">

	<div class="content-section">
	  <h2>Twe konto zostało wylogowane</h2>
	  <!-- Additional info -->
	  <div class="border-top pt-3">
		<!-- Already own an account? -->
		<small class="text-muted">
			<a href="{% url 'login' %}">Zaloguj się ponownie</a>
		</small>
		<!-- Terms and Service -->
		<small class="text-muted float-right">
			Zapoznaj się <code>></code> <a href="#">Warunki i usługi</a>
		</small>
	  </div>
	</div>
  </div>
  <!-- End of container -->

</center>
<br/>
{% endblock content %}