{% extends "recipes/base.html" %}
{% block content %}


  <br/>
  <center class="container">
    <div class="border m-1 h-mobile bg-light p-2 container" style="overflow: auto; border-radius: 5px">


      <div class="content-section">
        <div class="alert alert-info">
          Wysłano wiadomość na {{ user.email }} z instrukcjami dotyczącymi resetowania hasła
        </div>
        <!-- 
        <h2>Twe hasło zostało zmienione</h2>
        <div id="additional-info-users-templates" class="border-top pt-3">
          <small name="to-login-profile" class="text-muted">
            <a href="{% url 'profile' %}">Mój profil</a>
          </small>   
        </div> -->
      </div>


    </div>
  </center>
  <br/>


{% endblock content %}