{% extends "recipes/base.html" %}
{% block content %}


  <br/>
  <div class="alert alert-info text-center f-mobile">
    Na wprowadzony przez Ciebie adres e-mail wysłano wiadomość z instrukcjami resetowania hasła.
  </div>
  <center class="container f-mobile">
    <div class="border m-1 bg-light p-2 container" style="overflow: auto; border-radius: 5px">
      <div class="content-section">

        <legend class="border-bottom mb-4">Problem z akcją</legend>

        <p>Jeśli instrukcje nie dotarły na podany adres e-mail, może to oznaczać że:</p>
        <ul>
          <li>Podany adres e-mail nie jest powiązany z Twoim kontem;</li>
          <li>Wiadomość jest nadal w drodze na pocztę;</li>
          <li>Wiadomość została uszkodzona przed lub / i podczas dostarczania;</li>
          <li>Wystąpił błąd z serwerami.</li>
        </ul>
        <p>
          <a href="{% url 'password_reset' %}">Wyślij ponownie</a>
          lub
          <a href="{% url 'contact-us-form' %}">Skontaktuj się</a>
        </p>

      </div>
    </div>
  </center>
  <br/>


{% endblock content %}