{% extends "recipes/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'recipes/css/app_users_simple_form.css' %}">
{% endblock %}
{% block content %}
  {% if form %}
    <form method="POST" enctype="multipart/form-data" class="mb-5">
      {% csrf_token %}
      <div class="container">
        <div class="simple-form simple-form-split">

          <div>
            <h2 name="reset-password" class="title text-uppercase mb-4">Change Password</h2>
            {{ form|crispy }}
            <div id="submission" class="mt-4">
              <button class="btn btn-outline-success w-100" type="submit">Submit</button>
            </div>
          </div>

          <div class="simple-form-split-right">
            <h2 name="warning" class="title text-uppercase mb-4">Attention please!</h2>
            <p style="font-family: calibri">If you decide not to change your password, you must take into account that the page you are currently on may be saved in the history of your search engine. So you should remove the URL to this site from the search engine's memory and restart it so that no one will take advantage of this opportunity to steal your account.</p>
            <p style="font-family: calibri">If you change your password using the form in the <strong>Change password</strong> section, the temporary page you are currently on will be permanently deactivated in a fraction of a second and you will not have to worry about the security of your account.</p>
          </div>
          
        </div>
      </div>
    </form>
  {% else %}
    <div name="no-results" class="text-center p-3 my-5 bg-light">
      <h2 style="font-weight: 300">ERROR 404 - An unknown dish is roaming the web :|</h2>
    </div>
  {% endif %}
{% endblock content %}