{% extends "recipes/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'recipes/css/app_users_simple_form.css' %}">
{% endblock %}
{% block content %}
  {% if form %}
    <form method="POST" enctype="multipart/form-data" class="mb-5">
      {% csrf_token %}
      <div class="container">
        <div class="simple-form simple-form-split">

          <div>
            <h2 name="reset-password" class="title text-uppercase mb-4">Zmień hasło</h2>
            {{ form|crispy }}
            <div id="submission" class="mt-4">
              <button class="btn btn-outline-success w-100" type="submit">Zatwierdź zmianę</button>
            </div>
          </div>

          <div class="simple-form-split-right">
            <h2 name="warning" class="title text-uppercase mb-4">Proszę o uwagę!</h2>
            <p style="font-family: calibri">Jeśli zrezygnujesz ze zmiany hasła, musisz wziąć pod uwagę że strona na kturej się właśnie znajdujeż morze być zapisana w historji twojej wyszukiwarki. Należy więc usunąć adres URL do tej witryny z pamięci wyszukiwarki i uruchomić ponownie aby nikt nie wykorzystał tej okazji do kradzierzy twojego konta.</p>
            <p style="font-family: calibri">Jeśli zmienisz hasło używając formularza w sekcji "Zmień hasło" to tymczasowa strona na kturej się właśnie znajdujeż zostanie pernamentnie zdeaktywowana w ułamku sekundy i nie będziesz musiał się martwić o bezpieczeństwo twojego konta.</p>
          </div>
          
        </div>
      </div>
    </form>
  {% else %}
    <div name="no-results" class="text-center p-3 my-5 bg-light">
      <h2 style="font-weight: 300">ERROR 404 - Nieznane danie wędrujące po sieci</h2>
    </div>
  {% endif %}
{% endblock content %}