{% extends "recipes/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'recipes/css/app_users_simple_form.css' %}">
<style>
#submission {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
@media only screen and (max-width: 500px) {
  #submission {
    grid-template-columns: 1fr;
  }
}
</style>
{% endblock %}
{% block content %}
  <form method="POST" enctype="multipart/form-data" class="mb-5">
    {% csrf_token %}
    <div class="container">
      <div class="simple-form simple-form-split">

        <div>
          <h2 name="reset-password" class="title text-uppercase mb-4">Reset password</h2>
          {{ form|crispy }}
          <small>Forgot your email? <a href="{% url 'contact-us-form' %}">Contact us now</a>.</small>
          <div id="submission" class="mt-4">
            <button class="btn btn-outline-primary" type="submit">Submit</button>
            <a class="btn btn-outline-dark" href="{% url 'recipes-home' %}">Cancel</a>
          </div>
        </div>
        
        <div class="simple-form-split-right">
          <h2 name="how-it-works" class="title text-uppercase mb-4">Help</h2>
          <p style="font-family: calibri">In the <strong>Reset Password</strong> section, enter the email address where your account was created. After pressing the <strong>Submit</strong> button, we will provide you with a special link to the email address you provided, which will take you back to our official website with a form to enter a new password.</p>
          <p style="font-family: calibri">Please note that the generated link has an expiration date for the security of your account. Do not share this link with others or you may lose your account permanently.</p>
        </div>

      </div>
    </div>
  </form>
{% endblock content %}