{% extends "recipes/base.html" %}
{% load crispy_forms_tags %}
{% block content %}


  <br/>
  <center class="container">
    <div class="border m-1 bg-light p-2 container" style="overflow: auto; border-radius: 5px">
      <div class="content-section">

        <!-- Send reset password form to email -->
        <form method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">
              Wprowadź adres e-mail, na którym zostało utworzone Twoje konto.
            </legend>
            {{ form|crispy }}
          </fieldset>
          <div class="form-group">
            <!-- Send and Deny action -->
            <button class="btn btn-outline-info" type="submit">
              Wyślij formę
            </button>
            <a class="btn btn-outline-danger float-right" href="{% url 'recipes-home' %}">
              Przerwij akcję
            </a>
          </div>
        </form>

      </div>
    </div>
  </center>
  <br/>


{% endblock content %}