{% extends "recipes/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'recipes/css/app_users_simple_form.css' %}">
{% endblock %}
{% block content %}

  <div class="alert alert-info text-center f-mobile">
    An email with instructions to reset your password has been sent to the email address you entered.
  </div>
  
  <div class="container">
    <div class="simple-form">
      <div>
        <h2 name="problem" class="title text-uppercase mb-4">Possible issues</h2>
        <p>If the instructions have not arrived at the e-mail address you provided, it may mean that:</p>
        <ul class="mobile-pis-1">
          <li>The email address provided is not associated with your account;</li>
          <li>The message is still on its way;</li>
          <li>The message was corrupted before or/and during delivery;</li>
          <li>There was an error with the servers.</li>
        </ul>
        <small>
          <a href="{% url 'password_reset' %}">Resend the link</a> or
          <a href="{% url 'contact-us-form' %}">Contact us</a>.
        </small>
      </div>
    </div>
  </div>
  
{% endblock content %}