{% extends "recipes/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  {% load static %}


  <br/>
  <center class="container">


    <!-- Profile Container -->
    <div class="border m-1 bg-light p-2 container" style="clear: both; overflow: auto; border-radius: 5px">
      <img name="profile-image" class="rounded account-img float-left mr-3" width="155" height="155" src="{{ user.profile.image.url }}" />
    
      <div id="profile-details" class="col-xs-6 h-mobile float-left">
        <h2>{{ user.username }}
          <a title="Wyloguj się" name="logout" href="{% url 'logout' %}">
            <i class="fas fa-door-open" style='font-size:30px'></i>
          </a>
        </h2>
        <hr/>
        <p>
          <font style="font-weight: 600; color: #252b2b">Pełne imię: </font>
          {{ user.first_name }} {{ user.last_name }}
          <br/>
          <font style="font-weight: 600; color: #252b2b">Email: </font>
          {{ user.email }}
        </p>
      </div>

      <div id="profile-details-sub-container" class="float-right text-right">
        <ul class="list-group text-cener">
          <a title="Zarządzaj kontem" name="account-manager" class="list-group-item list-group-item-action" onclick="$('#profile-update-details-form').fadeToggle()">
            <img height="25" src="{% static 'recipes/img/icons/flaticon/gear.svg' %}" />
            <label class="ml-2 d-none">Zarządzaj kontem</label>
          <a title="Moje przepisy" name="my-recipes" class="list-group-item list-group-item-action" href="{% url 'user-recipes' user.username %}">
            <img height="25" src="{% static 'recipes/img/icons/flaticon/my_recipes.svg' %}" />
            <label class="ml-2 d-none">Moje przepisy</label>
          </a>
          <a title="Dodaj przepis" name="add-recipe" class="list-group-item list-group-item-action" href="{% url 'recipe-create' %}">
            <img height="25" src="{% static 'recipes/img/icons/flaticon/create_recipe.svg' %}" />
            <label class="ml-2 d-none">Dodaj przepis</label>
          </a>
        </ul>
      </div>
    </div>


    <div id="profile-update-details-form" class="border m-1 bg-light p-2 container mt-2" style="overflow: auto; border-radius: 5px; display: none">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Manage account form -->
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">
            Zarządzaj kontem
          </legend>
          {{ u_form|crispy }}
          {{ p_form|crispy }}
        </fieldset>

        <div class="form-group">
          <!-- Update and deny action -->
          <button class="btn btn-outline-info" type="submit">
            Zatwierdź zmiany
          </button>
          <input type="button" value="Anuluj" class="btn btn-outline-danger float-right" onclick="$('#profile-update-details-form').fadeOut()" />
        </div>

      </form>
    </div>


  </center>
  <br/>


{% endblock content %}