{% extends "recipes/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'recipes/css/app_users_simple_form.css' %}">
<link rel="stylesheet" href="{% static 'recipes/css/profile.css' %}">
<style>
@media only screen and (max-width: 991px) {
  .simple-form-split {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .simple-form-split-right {
    border-top: 1px solid #ccc;
  }
  .simple-form-split-right > .title {
    margin-top: 30px;
  }
}
</style>
{% endblock %}
{% block content %}

  <form method="POST" enctype="multipart/form-data" class="mb-5">
    {% csrf_token %}
    <div class="container">
      <div class="simple-form simple-form-split">

        <div id="profile">
          <h2 name="profile" class="title text-uppercase mb-4">Twój profil</h2>
          <div class="menu">
            <a title="Moje przepisy" name="my-recipes" href="{% url 'user-recipes' user.username %}">
              <img height="25" src="{% static 'recipes/img/icons/flaticon/my_recipes.svg' %}">
              <label class="ml-2 d-none">Moje przepisy</label>
            </a>
            <a title="Dodaj przepis" name="add-recipe" href="{% url 'recipe-create' %}">
              <img height="25" src="{% static 'recipes/img/icons/flaticon/create_recipe.svg' %}">
              <label class="ml-2 d-none">Dodaj przepis</label>
            </a>
            <a title="Moje zakładki" name="my-bookmarks" href="#">
              <img height="25" src="{% static 'recipes/img/icons/flaticon/sticky-notes.svg' %}">
              <label class="ml-2 d-none">Moje zakładki</label>
            </a>
          </div>
          <div class="profile-pic-container">
            <img src="{{ user.profile.image.url }}">
          </div>
        </div>

        <div class="simple-form-split-right">
          <div id="form">
            <h2 name="change-data" class="title text-uppercase mb-4">Zmień dane</h2>
            <small class="d-block mb-3">Nie pamiętasz hasła? <a href="{% url 'password_reset' %}">Zmień teraz</a></small>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
            <div id="submission" class="mt-4">
              <button class="btn btn-outline-info w-100" type="submit">Zatwierdź zmiany</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </form>

{% endblock content %}