{% extends "recipes/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'recipes/css/app_users_simple_form.css' %}">
{% endblock %}
{% block content %}

  <div class="container text-center">
    <p><i class="fa fa-info-circle mr-1 mt-4"></i> Przejdź do menu nawigacyjnego i naciśnij "Więcej informacji", aby dowiedzieć się więcej o nas i naszych warunkach.</p>
  </div>
  
  <form method="POST" enctype="multipart/form-data" class="mb-5">
    {% csrf_token %}
    <div class="container">
      <div class="simple-form simple-form-split">

        <div>
          <h2 name="register" class="title text-uppercase mb-4">Rejestracja</h2>
          {{ form|crispy }}
          <div id="submission" class="mt-4">
            <button class="btn btn-outline-info w-100" type="submit">Zarejestruj się</button>
          </div>
        </div>
        
        <div class="simple-form-split-right">
          <h2 name="welcome-at-baketoom" class="title text-uppercase mb-4">Witaj w BakeToom</h2>
          <p>Odkryj przepisy z całego świata!</p>
          <p style="font-family: calibri">Po krótkiej rejestracji będziesz mógł podzielić się z naszą społecznością swoimi przepisami i mieć szansę na zdobycie uznania od naszych ekspertów, abyś mógł dalej rozwijać swoje dzieła.</p>
          <p style="font-family: calibri">Zapoznaj się z naszymi <a href="{% url 'terms-and-conditions' %}" target="_blank">Zasadami i Warunkami</a> i dołącz do naszego świata smakoszy. Posiadasz konto? <a href="{% url 'login' %}">Zaloguj się</a>.</p>
          <p><br><b>Strona rejestracyjna jest na razie prywatna</b></p>
        </div>

      </div>
    </div>
  </form>
{% endblock content %}