{% extends "recipes/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'recipes/css/app_users_simple_form.css' %}">
{% endblock %}
{% block content %}

  <div class="container text-center">
    <p><i class="fa fa-info-circle mr-1 mt-4"></i> Head to the navigation bar and press <strong>About BakeToom</strong> to find out more about us and our terms.</p>
  </div>
  
  <form method="POST" enctype="multipart/form-data" class="mb-5">
    {% csrf_token %}
    <div class="container">
      <div class="simple-form simple-form-split">

        <div>
          <h2 name="register" class="title text-uppercase mb-4">Registration</h2>
          {{ form|crispy }}
          <div id="submission" class="mt-4">
            <button class="btn btn-outline-info w-100" type="submit">Register account</button>
          </div>
        </div>
        
        <div class="simple-form-split-right">
          <h2 name="welcome-to-baketoom" class="title text-uppercase mb-4">Welcome to BakeToom</h2>
          <p>Discover recipes from around the world!</p>
          <p style="font-family: calibri">BakeToom is a great place for culinary fans, where everyone has a chance to get the recognition they deserve. After a short registration, you will be able to publish your recipes on our platform and expand your relations on an international scale to further develop your culinary arts.</p>
          <p style="font-family: calibri">Check the <a href="{% url 'terms-and-conditions' %}" target="_blank">Terms & Conditions</a> and join our gourmet world.<br>You have an account? <a href="{% url 'login' %}">Login now</a>.</p>
          <p><br><b>The registration page is private for now</b></p>
        </div>

      </div>
    </div>
  </form>
  
{% endblock content %}