{% extends "recipes/base.html" %}
{% load crispy_forms_tags %}
{% block content %}


  <br/>
  <center class="container">
    <div class="border m-1 bg-light p-2 container" style="overflow: auto; border-radius: 5px">
      <div class="content-section">


        <!-- Register form -->
        <form method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">
              Dołącz do Świata smakoszy
            </legend>
            {{ form|crispy }}
          </fieldset>
          <div class="form-group">
            <!-- Sign-Up button -->
            <button class="btn btn-outline-info" type="submit">
              Zarejestruj się
            </button>
          </div>
        </form>


        <div id="additional-info-users-templates" class="border-top pt-3">
          <small name="to-login-page" class="text-muted">
            Posiadasz konto?
            <a class="ml-2" href="{% url 'login' %}">
              Zaloguj się
            </a>
          </small>
          <small name="terms-and-service" class="text-muted float-right">
            Zapoznaj się <code>></code>
            <a href="#">
              Warunki i usługi
            </a>
          </small>
        </div>


      </div>
    </div>
  </center>
  <br/>


{% endblock content %}