::-webkit-scrollbar {width: 5px; height: 15px }
::-webkit-scrollbar-track-piece  {background-color: #353535}
::-webkit-scrollbar-thumb:vertical {height: 30px; background-color: Darkgray}

html {
  scroll-behavior: smooth;
}

#loadBtn {
	opacity: 0.9;
	border-color: #d8d8d8;
	background-color: rgba(0,0,0,0.7)
}

#loadBtn:hover {
	opacity: 1;
	background-color: rgba(0,0,0,1)
}

#loadBtn:active {
	background-color: green;
	border-color: lime;
	color: #4eed75;
}


.recipe_ingredients ::-webkit-scrollbar {width: 0px; height: 0px }
.recipe_ingredients ::-webkit-scrollbar-track-piece  {background-color: #f8f9fa}
.recipe_ingredients ::-webkit-scrollbar-thumb:vertical {height: 1px; background-color: gray}

.recipe_ingredients section {
	float: left;
  	width: 18%;
  	height: 250px;
  	border: 1px solid lightGray;
  	border-radius: 10px;
  	padding: 10px;
  	margin: 10px;
  	overflow: scroll
}

.recipe_ingredients section ul {
	padding-inline-start: 20px;
	list-style-type: "- "
}

#recipes div {
  	width: 95%;
  	text-align: left;
}

#new_recipe_submit_form {
	width: 500px;
}

@media only screen and (max-width: 600px) {
	.recipe_ingredients section {
	  	width: 90%;
	  	height: 250px;
	  	border: 1px solid lightGray;
	  	border-radius: 10px;
	  	padding: 10px;
	  	margin: 10px;
	  	overflow: scroll
	}

	#recipes div { width: auto }
	#new_recipe_submit_form { width: 80% }
}