::-webkit-scrollbar {width: 5px; height: 15px }
::-webkit-scrollbar-track-piece  {background-color: #353535}
::-webkit-scrollbar-thumb:vertical {height: 30px; background-color: Darkgray}

html {
  scroll-behavior: smooth;
}

#loadBtn {
	opacity: 0.9;
	border-color: #d8d8d8;
	background-color: rgba(0,0,0,0.7)
}

#loadBtn:hover {
	opacity: 1;
	background-color: rgba(0,0,0,1)
}

#loadBtn:active {
	background-color: green;
	border-color: lime;
	color: #4eed75;
}

.empty-scroll::-webkit-scrollbar { width: 0px; height: 0px }
.empty-scroll ::-webkit-scrollbar { width: 0px; height: 0px }
.empty-scroll::-webkit-scrollbar-track-piece { background-color: #f8f9fa }
.empty-scroll ::-webkit-scrollbar-track-piece { background-color: #f8f9fa }
.empty-scroll::-webkit-scrollbar-thumb:vertical { height: 1px; background-color: gray }
.empty-scroll ::-webkit-scrollbar-thumb:vertical { height: 1px; background-color: gray }

.recipe-ingredients section {
	float: left;
  	width: 25%;
  	height: 250px;
  	border: 1px solid lightGray;
  	border-radius: 10px;
  	padding: 10px;
  	margin: 10px;
  	overflow: scroll
}
.recipe-category {
	width: 25% !important;
	background-color: #e8e8e8;
	margin: 10px;
	float: left
}

html { position: relative; min-height: 100% }
body { margin-bottom: 170px }
.footer { width: 100%; position: absolute; bottom: 0px; left: 0 }

.recipe-ingredients section ul {
	padding-inline-start: 20px;
	list-style-type: circle
}
.recipe-method p { padding-inline-start: 20px }

#recipes div, div.container {
  	width: 95%;
  	text-align: left
}

#new-recipe-submit-form button { width: 500px }

label.file-upload input[type="file"] { display: none }
label.file-upload, input[type="text"] { 
	border-radius: 0px 5px 5px 0px;
	float: left
}


@media only screen and (max-width: 600px) {
	.recipe-container { font-size: 12px }
	.recipe-container h3 { font-size: 20px }
	.recipe-button img {
		border-radius: 5px 5px 5px 50px !important;
		width: 100px;
		height: 75px
	}

	.recipe-ingredients section {
	  	width: 90%;
	  	height: 250px;
	  	border: 1px solid lightGray;
	  	border-radius: 10px;
	  	padding: 10px;
	  	margin: 10px;
	  	overflow: scroll
	}
	.recipe-category {
		width: auto !important;
	 	background-color: #e8e8e8
	}
	.recipe-method p { padding-inline-start: 10px }



	#home-pagination { font-size: 12px }
	#base-banner h3 { font-size: 20px }
	#file-upload-data { width: 155px }
	#recipes div, div.container { width: auto }

	#new-recipe-submit-form section { font-size: 12px }
	#new-recipe-submit-form button { width: 80%; font-size: 15px }

	#terms-and-service { float: left !important; word-break: break-all }
	#profile-details-sub-container { 
		float: left !important;
		text-align: left !important;
		width: 100%;
		padding: 2px
	}
}
