{% load static %}
{% if recipes %}
  <div id="recipe-wrapper" class="container mb-5 px-0">
    {% for recipe in recipes %}
      {% if recipe.published or recipe.publisher == request.user %}
        <a class="btn js-slidein m-2" href="{% url 'recipe-detail' recipe.id %}">
          <div class="recipe-item border">
            <div class="recipe-image">
              <img width="100%" height="175px" alt="Recipe" src="{{ recipe.image.url }}" style="{% if not recipe.published %}opacity: 0.3{% endif %}">
              {% if not recipe.published %}
                <div class="unpublished text-uppercase">unpublished</div>
              {% endif %}
            </div>
            <div class="recipe-detail text-center mb-3 mt-3 mx-2 f16">
              <h5 class="recipe-title text-uppercase">{{ recipe.title }}</h5>
              <h7 class="recipe-publisher">Publisher - {{ recipe.publisher }}</h7>
              <br>
              <h7 class="recipe-region">
                {% if recipe.nationality %}
                  <span class="flag {{ recipe.nationality|lower }}"></span>
                  {{ recipe.nationality.name|title }}
                {% else %}
                  international
                {% endif %}
              </h7>
              {% if recipe.certified %}
                <img alt="certification" height="20" src="{% static 'recipes/img/icons/flaticon/contract.svg' %}">
              {% endif %}
            </div>
          </div>
        </a>
      {% endif %}
    {% endfor %}
  </div>
{% else %}
  <div name="no-results" class="text-center p-3 my-5 bg-light">
    <h2 style="font-weight: 300">Oops... We were unable to find a match :(</h2>
  </div>
{% endif %}


{% if is_paginated %}
  <!-- Pagination -->
  <center class="pagination js-slidein justify-content-center">
    <nav id="home-pagination" aria-label="Page navigation example">

      <div>
        <ul class="pagination pagination-circle pg-blue mb-0">
          <!-- To first page -->
          <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
            <a class="page-link" style="border-right: 0" aria-label="First"
            
              {% if page_obj.has_previous %}
                {% if request.GET.nationality %}
                  href="#"
                  onclick="paginateToPage(1)"
                {% else %}
                  href="?page=1"
                {% endif %}
              {% else %}
                href="#"
              {% endif %}

            >First</a>
          </li>
          <!-- Direct page choice -->
          {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
              <li class="page-item active">
                <a class="page-link page-link-active-fancy"

                  {% if request.GET.nationality %}
                    href="#"
                    onclick="paginateToPage({{ num }})"
                  {% else %}
                    href="?page={{ num }}"
                  {% endif %}
                
                >{{ num }}</a>
              </li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
              <li class="page-item">
                <a class="page-link page-link-fancy"

                  {% if request.GET.nationality %}
                    href="#"
                    onclick="paginateToPage({{ num }})"
                  {% else %}
                    href="?page={{ num }}"
                  {% endif %}
                
                >{{ num }}</a>
              </li>
            {% endif %}
          {% endfor %}
          <!-- To last page -->
          <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
            <a class="page-link" style="border-left: 0" aria-label="Last"

              {% if page_obj.has_next %}
                {% if request.GET.nationality %}
                  href="#"
                  onclick="paginateToPage({{ page_obj.paginator.num_pages }})"
                {% else %}
                  href="?page={{ page_obj.paginator.num_pages }}"
                {% endif %}
              {% else %}
                href="#"
              {% endif %}

            >Last</a>
          </li>
        </ul>
      </div>

      <div name="page-flip">
        <!-- Previous page action -->
        <a style="border-right: 0" class="{% if not page_obj.has_previous %}disabled{% endif %}" aria-label="Previous"

          {% if page_obj.has_previous %}
            {% if request.GET.nationality %}
              href="#"
              onclick="paginateToPage({{ page_obj.previous_page_number }})"
            {% else %}
              href="?page={{ page_obj.previous_page_number }}"
            {% endif %}
          {% else %}
            href="#"
          {% endif %}

        ><span aria-hidden="true">&laquo;</span></a>

        <!-- Result counter -->
        <a style="width: 60%; border-left: 0; border-right: 0; color: #6c757d; cursor: default">
          <span id="search-result-counter">{{ page_obj.paginator.count }}</span>
            results
        </a>

        <!-- Next page action -->
        <a style="border-left: 0" class="{% if not page_obj.has_next %}disabled{% endif %}" aria-label="Next"

          {% if page_obj.has_next %}
            {% if request.GET.nationality %}
              href="#"
              onclick="paginateToPage({{ page_obj.next_page_number }})"
            {% else %}
              href="?page={{ page_obj.next_page_number }}"
            {% endif %}
          {% else %}
            href="#"
          {% endif %}

        ><span aria-hidden="true">&raquo;</span></a>
      </div>

    </nav>
  </center>
  <!-- End of Pagination -->
{% endif %}