{% load static %}
<div name="search-bar" class="d-flex justify-content-center ms-auto me-auto">
  <a id="previous-page-btn" class="btn text-secondary rounded-0" title="Return">
    <i class="fa-solid fa-arrow-left-long"></i>
  </a>
  <div class="form-control rounded-0">
    <input type="search" name="q" value="{{ query }}" placeholder="Search" aria-label="Search">
    <a id="search-filter-btn" href="#filter" class="text-secondary" title="Filters" style="float: right">
      <i class="fas fa-filter"></i>
    </a>
  </div>
  <button title="Search" name="search-query" type="submit" class="btn btn-outline-secondary rounded-0">
    <i>Submit</i><i class="d-none fa fa-search"></i>
  </button>
</div>

<div name="filter-container" class="mt-4 ms-auto me-auto" style="display: none">
  <section name="search-by">
    <h1 class="fs-5 title">Sort by</h1>
    <hr>
    <ul name="search-by-children">
      <li><input type="checkbox" name="title" value="true" checked> recipe name</li>
      <li><input type="checkbox" name="publisher" value="true" checked> publisher</li>
      <li><input type="checkbox" name="certified" value="true"> only certified</li>
      <li><input type="checkbox" name="search_by_date" value="DOC"> creation date</li>
      <li><input type="checkbox" name="id" value="true"> recipe ID</li>
    </ul>
  </section>
  <section name="upload-date">
    <h1 class="fs-5 title">Upload date</h1>
    <hr>
    <ul name="upload-date-children">
      <li><input type="radio" name="search_by_date" value="GUD" checked> general</li>
      <li><input type="radio" name="search_by_date" value="TUD"> today</li>
      <li><input type="radio" name="search_by_date" value="TWUD"> this week</li>
      <li><input type="radio" name="search_by_date" value="TMUD"> this month</li>
      <li><input type="radio" name="search_by_date" value="TYUD"> this year</li>
    </ul>
  </section>
  <section name="categories">
    <h1 class="fs-5 title">Categories</h1>
    <hr>
    <ul name="categories-children">
      <li><input type="radio" name="type" value="general" checked> general</li>
      <li><input type="radio" name="type" value="pastry"> pastries</li>
      <li><input type="radio" name="type" value="dessert"> desserts</li>
      <li><input type="radio" name="type" value="soup"> soups</li>
      <li><input type="radio" name="type" value="other"> other</li>
    </ul>
  </section>
  <section name="nationality">
    <h1 class="fs-5 title">Nationality</h1>
    <hr>
    <ul name="nationality-children">
      <li><input type="radio" name="nationality_mode" value="general" checked> general</li>
      <li><input type="radio" name="nationality_mode" value="international"> international</li>
      <li><input type="radio" name="nationality_mode" value="specific"> specific</li>
      <li name="nationality-dropdown" style="display: none">
        <div id="select-country" class="input-group mt-1" style="height: 30px">
          <label class="input-group-text h-100 rounded-0" style="width: 40px"></label>
          <select name="nationality" class="form-select select-country h-100 padding-0" style="font-size: 12px" aria-label="Select country filter">
            <option value="AF" data-flag-src="{% static 'recipes/img/icons/flags/AF.svg' %}">Afghanistan</option>

          </select>
        </div>
      </li>
    </ul>
  </section>
</div>
<script name="select-country" defer>


// Enable nationality_select and show nationality_dropdown, only if nationality_mode=specific is checked.
// Otherwise, hide the nationality_dropdown and disable nationality_select.

let nationality_section  = document.querySelector('section[name="nationality"]');
let nationality_radios   = nationality_section.querySelectorAll('input[name="nationality_mode"]');
let nationality_dropdown = nationality_section.querySelector('li[name="nationality-dropdown"]');
let nationality_select   = nationality_dropdown.querySelector('select[name="nationality"]');


[...nationality_radios].map(radio =>
{
  if (radio.value === 'specific') {
    radio.addEventListener('click', () => {
      if (radio.checked) {
        nationality_dropdown.style.display = 'block';
        nationality_select.removeAttribute('disabled');
      }
    });
  }
  else {
    radio.addEventListener('click', () => {
      if (radio.checked) {
        nationality_dropdown.style.display = 'none';
        nationality_select.setAttribute('disabled', true);
      }
    });
  }

  if (radio.checked) radio.click();
});



// Set flag icon for #select-country's label

const selectCountryUpdateFlag = (selectElement) => {
  let label     = selectElement.parentElement.querySelector('.input-group-text');
  let option    = nationality_select.options[nationality_select.selectedIndex];
  let __flagSrc = option.dataset.flagSrc;

  label.style.backgroundImage  = `url('${__flagSrc}')`;
  label.style.backgroundRepeat = 'no-repeat';
  label.style.backgroundSize   = '100% 100%';
}

let selectCountryElements = document.querySelectorAll('.select-country');
[...selectCountryElements].map(selectElement =>
{
  selectCountryUpdateFlag(selectElement);
  selectElement.addEventListener('change', () => {
    selectCountryUpdateFlag(selectElement);
  });
});

</script>