<a id="previous-page-btn" class="btn text-secondary" title="Return">
  <i class="fa-solid fa-arrow-left-long"></i>
</a>

<div class="form-control">
  <input type="search" name="q" value="{{ query }}" placeholder="Search" aria-label="Search">
  <a id="search-filter-btn" href="#filter" class="text-secondary float-right" title="Filters">
    <i class="fas fa-filter"></i>
  </a>
</div>

<button title="Search" name="search-query" type="submit" class="btn btn-outline-secondary">
  <i>Submit</i><i class="d-none fa fa-search"></i>
</button>

<div name="filter-container">
  <ul class="list-inline">
    <li name="search-by" class="list-inline-item">
      <h5 class="h4-mobile">Sort by</h5><hr>
      <ul name="search-by-children">
        <li><input type="checkbox" name="title" value="true" checked> recipe name</li>
        <li><input type="checkbox" name="publisher" value="true" checked> publisher</li>
        <li><input type="checkbox" name="certified" value="true"> only certified</li>
        <li><input type="checkbox" name="search_by_date" value="DOC"> creation date</li>
        <li><input type="checkbox" name="id" value="true"> recipe ID</li>
      </ul>
    </li>
    <li name="upload-date" class="list-inline-item">
      <h5 class="h4-mobile">Upload date</h5><hr>
      <ul name="upload-date-children">
        <li><input type="radio" name="search_by_date" value="GUD" checked> general</li>
        <li><input type="radio" name="search_by_date" value="TUD"> today</li>
        <li><input type="radio" name="search_by_date" value="TWUD"> this week</li>
        <li><input type="radio" name="search_by_date" value="TMUD"> this month</li>
        <li><input type="radio" name="search_by_date" value="TYUD"> this year</li>
      </ul>
    </li>
    <li name="categories" class="list-inline-item">
      <h5 class="h4-mobile">Categories</h5><hr>
      <ul name="categories-children">
        <li><input type="radio" name="type" value="general" checked> general</li>
        <li><input type="radio" name="type" value="pastry"> pastries</li>
        <li><input type="radio" name="type" value="dessert"> desserts</li>
        <li><input type="radio" name="type" value="soup"> soups</li>
        <li><input type="radio" name="type" value="other"> other</li>
      </ul>
    </li>
    <li name="nationality" class="list-inline-item">
      <h5 class="h4-mobile">Nationality</h5><hr>
      <ul name="nationality-children">
        <li><input type="radio" name="nationality_mode" value="general" checked> general</li>
        <li><input type="radio" name="nationality_mode" value="international"> international</li>
        <li><input type="radio" name="nationality_mode" value="specific"> specific</li>
        <li><select class="selectpicker countrypicker custom-scroll d-none" name="nationality" data-default="PL" data-flag="true"></select></li>
      </ul>
    </li>
  </ul>
</div>